<a href="https://colab.research.google.com/github/lucassenacode/ApiRestaurante/blob/main/CD_PeersLucasSena.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Análise de Rentabilidade e Otimização de Estratégias da Infomaz

**Contexto:**
A Infomaz, empresa especializada em artigos eletrônicos e de informática, tem observado mudanças significativas no comportamento de compra de seus clientes e variações nas vendas de algumas categorias de produtos. Para otimizar seu estoque, melhorar a relação com fornecedores e maximizar seus lucros, a empresa busca entender melhor esses padrões.

**Objetivo:**
Este projeto visa responder à seguinte questão: “Quais produtos e categorias apresentam maior e menor rentabilidade, e como podemos otimizar nossas estratégias de fornecimento e precificação para maximizar os lucros?”

**Métricas a serem Calculadas:**

1. Calcule o valor total de venda dos produtos por categoria. Utilize as tabelas `CADASTRO_PRODUTOS` e `TRANSACOES_VENDAS`.

2. Calcule a margem dos produtos subtraindo o valor unitario pelo valor de venda. Utilize as tabelas `CADASTRO_ESTOQUE` e `TRANSACOES_VENDAS`.

3. Calcule um ranking de clientes por quantidade de produtos comprados por mês. Utilize as tabelas `CADASTRO_CLIENTES` e `TRANSACOES_VENDAS`.

4. Calcule um ranking de fornecedores por quantidade de estoque disponivel por mês. Utilize as tabelas `CADASTRO_FORNECEDORES` e `CADASTRO_ESTOQUE`.

5. Calcule um ranking de produtos por quantidade de venda por mês. Utilize a tabela `TRANSACOES_VENDAS`.

6. Calcule um ranking de produtos por valor de venda por mês. Utilize a tabela `TRANSACOES_VENDAS`.

7. Calcule a média de valor de venda por categoria de produto por mês. Utiliza as tabelas `CADASTRO_PRODUTOS` e `TRANSACOES_VENDAS`.

8. Calcule um ranking de margem de lucro por categoria

9. Liste produtos comprados por clientes

10. Ranking de produtos por quantidade de estoque

# Importação das bibliotecas necessárias

In [ ]:
import pandas as pd
import numpy as np

# Importando e Explorando os Dados do Case Infomaz

In [ ]:
#Importar a biblioteca pandas
import pandas as pd

#Carregar o arquivo Excel com todas as abas disponíveis
arquivo = pd.ExcelFile("Case_Infomaz_Base_de_Dados.xlsx")

#Listar as abas existentes no arquivo
print("Abas no arquivo Excel:")
print(arquivo.sheet_names)

Abas no arquivo Excel:
['Orientações', 'Guia', 'Cadastro Produtos', 'Cadastro Clientes', 'Cadastro de Estoque', 'Cadastro Fornecedores', 'Transações Vendas']

### Produtos

In [ ]:
# --- Cadastro Produtos ---
df_produtos = pd.read_excel(arquivo, sheet_name="Cadastro Produtos", header=0)

print("\n--- CADASTRO PRODUTOS ---")
print(df_produtos.head())          # Mostrar as primeiras linhas
print(df_produtos.info())          # Informações gerais do DataFrame (tipos e não nulos)

--- CADASTRO PRODUTOS ---
     TABELA 1 CADASTRO PRODUTOS             Unnamed: 2   Unnamed: 3
0  ID PRODUTO        ID ESTOQUE           NOME PRODUTO    CATEGORIA
1        1001              5001     Notebook EliteBook  Eletrônicos
2        1002              5002  Smartphone Galaxy S23  Eletrônicos
3        1003              5003     Mesa de Escritório       Móveis
4        1004              5004     Cadeira Ergonômica       Móveis
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41 entries, 0 to 40
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   TABELA 1           41 non-null     object
 1   CADASTRO PRODUTOS  41 non-null     object
 2   Unnamed: 2         41 non-null     object
 3   Unnamed: 3         41 non-null     object
dtypes: object(4)
memory usage: 1.4+ KB
None

In [ ]:
# Ajustar nomes das colunas para facilitar o trabalho
df_produtos.columns = ['ID PRODUTO', 'ID ESTOQUE', 'NOME PRODUTO', 'CATEGORIA']
# Eliminando a linha repetida
df_produtos = df_produtos[df_produtos['ID PRODUTO'] != 'ID PRODUTO'].copy()

print("\n--- CADASTRO PRODUTOS ---")
print(df_produtos.head())          # Mostrar as primeiras linhas
print(df_produtos.info())          # Informações gerais do DataFrame (tipos e não nulos)

--- CADASTRO PRODUTOS ---
  ID PRODUTO ID ESTOQUE           NOME PRODUTO    CATEGORIA
1       1001       5001     Notebook EliteBook  Eletrônicos
2       1002       5002  Smartphone Galaxy S23  Eletrônicos
3       1003       5003     Mesa de Escritório       Móveis
4       1004       5004     Cadeira Ergonômica       Móveis
5       1005       5005    Monitor 24" Full HD  Eletrônicos
<class 'pandas.core.frame.DataFrame'>
Index: 40 entries, 1 to 40
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID PRODUTO    40 non-null     object
 1   ID ESTOQUE    40 non-null     object
 2   NOME PRODUTO  40 non-null     object
 3   CATEGORIA     40 non-null     object
dtypes: object(4)
memory usage: 1.6+ KB
None

###Clientes

In [ ]:
# --- Cadastro Clientes ---
df_clientes = pd.read_excel(arquivo, sheet_name="Cadastro Clientes", header=0)

print("\n--- CADASTRO CLIENTES ---")
print(df_clientes.head())
print(df_clientes.info())

--- CADASTRO CLIENTES ---
     TABELA 2       CADASTRO CLIENTES           Unnamed: 2
0  ID CLIENTE            NOME CLIENTE        DATA CADASTRO
1        2001      João Silva Almeida  2022-03-15 00:00:00
2        2002   Maria Oliveira Santos  2021-05-22 00:00:00
3        2003  Carlos Eduardo Pereira  2023-01-10 00:00:00
4        2004    Ana Paula Costa Lima  2020-11-03 00:00:00
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41 entries, 0 to 40
Data columns (total 3 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   TABELA 2           41 non-null     object
 1   CADASTRO CLIENTES  41 non-null     object
 2   Unnamed: 2         41 non-null     object
dtypes: object(3)
memory usage: 1.1+ KB
None

In [ ]:
# Renomear colunas
df_clientes.columns = ['ID CLIENTE', 'NOME CLIENTE', 'DATA CADASTRO']

# Remover linha duplicada do cabeçalho caso exista (exemplo: 'ID CLIENTE' na coluna)
df_clientes = df_clientes[df_clientes['ID CLIENTE'] != 'ID CLIENTE'].copy()

# Converter tipos, se necessário (exemplo ID CLIENTE numérico e DATA CADASTRO datetime)
df_clientes['DATA CADASTRO'] = pd.to_datetime(df_clientes['DATA CADASTRO'], errors='coerce')

print("\n--- CADASTRO CLIENTES ---")
print(df_clientes.head())
print(df_clientes.info())

--- CADASTRO CLIENTES ---
  ID CLIENTE            NOME CLIENTE DATA CADASTRO
1       2001      João Silva Almeida    2022-03-15
2       2002   Maria Oliveira Santos    2021-05-22
3       2003  Carlos Eduardo Pereira    2023-01-10
4       2004    Ana Paula Costa Lima    2020-11-03
5       2005    Pedro Henrique Souza    2022-07-28
<class 'pandas.core.frame.DataFrame'>
Index: 40 entries, 1 to 40
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ID CLIENTE     40 non-null     object
 1   NOME CLIENTE   40 non-null     object
 2   DATA CADASTRO  40 non-null     datetime64[ns]
dtypes: datetime64[ns](1), object(2)
memory usage: 1.2+ KB
None

### Estoque

In [ ]:
# --- Cadastro Estoque ---
df_estoque = pd.read_excel(arquivo, sheet_name="Cadastro de Estoque", header=0)

print("\n--- CADASTRO ESTOQUE ---")
print(df_estoque.head())
print(df_estoque.info())

--- CADASTRO ESTOQUE ---
     TABELA 4 CADASTRO ESTOQUE   Unnamed: 2           Unnamed: 3  \
0  ID ESTOQUE    VALOR ESTOQUE  QTD ESTOQUE         DATA ESTOQUE
1        5001           171996           50  2023-03-01 00:00:00
2        5002           124768           40  2023-02-15 00:00:00
3        5003            35980           50  2023-01-10 00:00:00
4        5004            51960           50  2023-04-05 00:00:00

      Unnamed: 4
0  ID FORNECEDOR
1           F100
2           F105
3           F110
4           F115
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41 entries, 0 to 40
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   TABELA 4          41 non-null     object
 1   CADASTRO ESTOQUE  41 non-null     object
 2   Unnamed: 2        41 non-null     object
 3   Unnamed: 3        41 non-null     object
 4   Unnamed: 4        41 non-null     object
dtypes: object(5)
memory usage: 1.7+ KB
None

In [ ]:
# Renomear colunas
df_estoque.columns = ['ID ESTOQUE', 'VALOR ESTOQUE', 'QTD ESTOQUE', 'DATA ESTOQUE', 'ID FORNECEDOR']

# Remover linha duplicada do cabeçalho se existir
df_estoque = df_estoque[df_estoque['ID ESTOQUE'] != 'ID ESTOQUE'].copy()

# Converter colunas para os tipos corretos
df_estoque['VALOR ESTOQUE'] = pd.to_numeric(df_estoque['VALOR ESTOQUE'], errors='coerce').astype(float)
df_estoque['QTD ESTOQUE'] = pd.to_numeric(df_estoque['QTD ESTOQUE'], errors='coerce')
df_estoque['DATA ESTOQUE'] = pd.to_datetime(df_estoque['DATA ESTOQUE'], errors='coerce')


print("\n--- CADASTRO ESTOQUE ---")
print(df_estoque.head())
print(df_estoque.info())

--- CADASTRO ESTOQUE ---
  ID ESTOQUE  VALOR ESTOQUE  QTD ESTOQUE DATA ESTOQUE ID FORNECEDOR
1       5001       171996.0           50   2023-03-01          F100
2       5002       124768.0           40   2023-02-15          F105
3       5003        35980.0           50   2023-01-10          F110
4       5004        51960.0           50   2023-04-05          F115
5       5005        33996.0           50   2023-03-20          F120
<class 'pandas.core.frame.DataFrame'>
Index: 40 entries, 1 to 40
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ID ESTOQUE     40 non-null     object
 1   VALOR ESTOQUE  40 non-null     float64
 2   QTD ESTOQUE    40 non-null     int64
 3   DATA ESTOQUE   40 non-null     datetime64[ns]
 4   ID FORNECEDOR  40 non-null     object
dtypes: datetime64[ns](1), float64(1), int64(1), object(2)
memory usage: 1.9+ KB
None

### Fornecedor

In [ ]:
# --- Cadastro Fornecedores ---
df_fornecedores = pd.read_excel(arquivo, sheet_name="Cadastro Fornecedores", header=0)

print("\n--- CADASTRO FORNECEDORES ---")
print(df_fornecedores.head())
print(df_fornecedores.info())

--- CADASTRO FORNECEDORES ---
        TABELA 5      CADASTRO FORNECEDORES           Unnamed: 2
0  ID FORNECEDOR            NOME FORNECEDOR        DATA CADASTRO
1           F100  Eletrônicos Nacional Ltda  2020-01-15 00:00:00
2           F105           TecnoImport S.A.  2019-03-22 00:00:00
3           F110   Móveis Premium Indústria  2018-11-08 00:00:00
4           F115        DecoraHome Comércio  2021-05-30 00:00:00
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 3 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   TABELA 5               13 non-null     object
 1   CADASTRO FORNECEDORES  13 non-null     object
 2   Unnamed: 2             13 non-null     object
dtypes: object(3)
memory usage: 444.0+ bytes
None

In [ ]:
# Renomear colunas
df_fornecedores.columns = ['ID FORNECEDOR', 'NOME FORNECEDOR', 'DATA CADASTRO']

# Remover linha duplicada do cabeçalho se existir
df_fornecedores = df_fornecedores[df_fornecedores['ID FORNECEDOR'] != 'ID FORNECEDOR'].copy()

# Converter tipos
df_fornecedores['DATA CADASTRO'] = pd.to_datetime(df_fornecedores['DATA CADASTRO'], errors='coerce')

print("\n--- CADASTRO FORNECEDORES ---")
print(df_fornecedores.head())
print(df_fornecedores.info())

--- CADASTRO FORNECEDORES ---
  ID FORNECEDOR            NOME FORNECEDOR DATA CADASTRO
1          F100  Eletrônicos Nacional Ltda    2020-01-15
2          F105           TecnoImport S.A.    2019-03-22
3          F110   Móveis Premium Indústria    2018-11-08
4          F115        DecoraHome Comércio    2021-05-30
5          F120    EletroDom Distribuidora    2019-07-14
<class 'pandas.core.frame.DataFrame'>
Index: 12 entries, 1 to 12
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID FORNECEDOR    12 non-null     object
 1   NOME FORNECEDOR  12 non-null     object
 2   DATA CADASTRO    12 non-null     datetime64[ns]
dtypes: datetime64[ns](1), object(2)
memory usage: 384.0+ bytes
None

### Vendas

In [ ]:
# --- Transações Vendas ---
df_vendas = pd.read_excel(arquivo, sheet_name="Transações Vendas", header=0)

print("\n--- TRANSACOES VENDAS ---")
print(df_vendas.head())
print(df_vendas.info())

--- TRANSACOES VENDAS ---
  TABELA 3 TRANSAÇÕES NOTAS DE VENDAS  Unnamed: 2  Unnamed: 3 Unnamed: 4  \
0  ID NOTA                  DATA NOTA  VALOR NOTA  VALOR ITEM   QTD ITEM
1     3001        2023-03-05 00:00:00      4299.9      4299.9          1
2     3002        2023-03-12 00:00:00      5798.9        3899          1
3     3002        2023-03-12 00:00:00      5798.9        1899          1
4     3003        2023-03-18 00:00:00      1028.8       129.9          1

   Unnamed: 5  Unnamed: 6
0  ID PRODUTO  ID CLIENTE
1        1001        2015
2        1002        2003
3        1013        2003
4        1006        2028
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 237 entries, 0 to 236
Data columns (total 7 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   TABELA 3                    237 non-null    object
 1   TRANSAÇÕES NOTAS DE VENDAS  237 non-null    object
 2   Unnamed: 2                  237 non-null    object
 3   Unnamed: 3                  237 non-null    object
 4   Unnamed: 4                  237 non-null    object
 5   Unnamed: 5                  237 non-null    object
 6   Unnamed: 6                  237 non-null    object
dtypes: object(7)
memory usage: 13.1+ KB
None

In [ ]:
# Renomear colunas
df_vendas.columns = ['ID NOTA', 'DATA NOTA', 'VALOR NOTA', 'VALOR ITEM', 'QTD ITEM', 'ID PRODUTO', 'ID CLIENTE']

# Remover linha duplicada do cabeçalho se existir
df_vendas = df_vendas[df_vendas['ID NOTA'] != 'ID NOTA'].copy()

# Converter tipos das colunas numéricas e datas
for col in ['VALOR NOTA', 'VALOR ITEM', 'QTD ITEM']:
    df_vendas[col] = pd.to_numeric(df_vendas[col], errors='coerce')

df_vendas['DATA NOTA'] = pd.to_datetime(df_vendas['DATA NOTA'], errors='coerce')


print("\n--- TRANSACOES VENDAS ---")
print(df_vendas.head())
print(df_vendas.info())

--- TRANSACOES VENDAS ---
  ID NOTA  DATA NOTA  VALOR NOTA  VALOR ITEM  QTD ITEM ID PRODUTO ID CLIENTE
1    3001 2023-03-05      4299.9      4299.9         1       1001       2015
2    3002 2023-03-12      5798.9      3899.0         1       1002       2003
3    3002 2023-03-12      5798.9      1899.0         1       1013       2003
4    3003 2023-03-18      1028.8       129.9         1       1006       2028
5    3003 2023-03-18      1028.8       899.5         1       1003       2028
<class 'pandas.core.frame.DataFrame'>
Index: 236 entries, 1 to 236
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ID NOTA     236 non-null    object
 1   DATA NOTA   236 non-null    datetime64[ns]
 2   VALOR NOTA  236 non-null    float64
 3   VALOR ITEM  236 non-null    float64
 4   QTD ITEM    236 non-null    int64
 5   ID PRODUTO  236 non-null    object
 6   ID CLIENTE  236 non-null    object
dtypes: datetime64[ns](1), float64(2), int64(1), object(3)
memory usage: 14.8+ KB
None

#1. Calcule o valor total de venda dos produtos por categoria. Utilize as tabelas CADASTRO_PRODUTOS e TRANSACOES_VENDAS.

In [ ]:
# Para ver as categorias únicas
print(df_produtos['CATEGORIA'].unique())

['Eletrônicos' 'Móveis' 'Decoração' 'Eletrodomésticos' 'Ferramentas'
 'Acessórios' 'Livros' 'Papelaria']

In [ ]:
# Merge de df_vendas com df_produtos
df_vendas_com_categorias = pd.merge(df_vendas, df_produtos[['ID PRODUTO', 'CATEGORIA']], on='ID PRODUTO', how='inner')

# Obter as categorias únicas no DataFrame
categorias_unicas = df_vendas_com_categorias_filtrado['CATEGORIA'].unique()

# Iterar sobre cada categoria e imprimir os dados
for categoria in df_vendas_com_categorias['CATEGORIA'].unique():
    print(f"\n--- VENDAS DA CATEGORIA {categoria.upper()} ---")
    print(df_vendas_com_categorias[df_vendas_com_categorias['CATEGORIA'] == categoria])

--- VENDAS DA CATEGORIA ELETRÔNICOS ---
    ID NOTA  DATA NOTA  VALOR NOTA  VALOR ITEM  QTD ITEM ID PRODUTO  \
0      3001 2023-03-05      4299.9      4299.9         1       1001
1      3002 2023-03-12      5798.9      3899.0         1       1002
3      3003 2023-03-18      1028.8       129.9         1       1006
6      3005 2023-03-25       849.9       849.9         1       1005
7      3006 2023-03-28      1049.7       349.9         3       1009
..      ...        ...         ...         ...       ...        ...
224    3143 2024-07-30      1049.4       349.9         3       1009
227    3146 2024-08-09      1199.9      1199.9         1       1039
231    3148 2024-08-16      1768.8       849.9         1       1005
233    3149 2024-08-20      1049.7       349.9         3       1009
234    3150 2024-08-23      1129.8       129.9         1       1006

    ID CLIENTE    CATEGORIA
0         2015  Eletrônicos
1         2003  Eletrônicos
3         2028  Eletrônicos
6         2030  Eletrônicos
7         2007  Eletrônicos
..         ...          ...
224       2015  Eletrônicos
227       2036  Eletrônicos
231       2029  Eletrônicos
233       2018  Eletrônicos
234       2033  Eletrônicos

[92 rows x 8 columns]

--- VENDAS DA CATEGORIA MÓVEIS ---
    ID NOTA  DATA NOTA  VALOR NOTA  VALOR ITEM  QTD ITEM ID PRODUTO  \
2      3002 2023-03-12      5798.9      1899.0         1       1013
4      3003 2023-03-18      1028.8       899.5         1       1003
5      3004 2023-03-22      2398.0      1299.0         2       1004
9      3008 2023-04-07      2598.0      1299.0         2       1004
12     3010 2023-04-15      1768.8       899.5         1       1003
..      ...        ...         ...         ...       ...        ...
221    3142 2024-07-26      1768.8       899.5         1       1003
225    3144 2024-08-02       899.0       899.0         1       1012
226    3145 2024-08-06      2699.0       899.5         3       1003
228    3147 2024-08-13      1938.9      1299.0         1       1004
230    3148 2024-08-16      1768.8       899.5         1       1003

    ID CLIENTE CATEGORIA
2         2003    Móveis
4         2028    Móveis
5         2011    Móveis
9         2019    Móveis
12        2005    Móveis
..         ...       ...
221       2008    Móveis
225       2024    Móveis
226       2011    Móveis
228       2007    Móveis
230       2029    Móveis

[84 rows x 8 columns]

--- VENDAS DA CATEGORIA PAPELARIA ---
    ID NOTA  DATA NOTA  VALOR NOTA  VALOR ITEM  QTD ITEM ID PRODUTO  \
13     3010 2023-04-15      1768.8        19.9         1       1036
26     3019 2023-05-20      1768.8        19.9         1       1036
36     3025 2023-06-12      1768.8        19.9         1       1036
45     3031 2023-07-03      1768.8        19.9         1       1036
55     3037 2023-07-25      1768.8        19.9         1       1036
64     3043 2023-08-15      1768.8        19.9         1       1036
74     3049 2023-09-05      1768.8        19.9         1       1036
80     3052 2023-09-16      1768.8        19.9         1       1036
90     3058 2023-10-07      1768.8        19.9         1       1036
99     3064 2023-10-28      1768.8        19.9         1       1036
109    3070 2023-11-18      1768.8        19.9         1       1036
118    3076 2023-12-09      1768.8        19.9         1       1036
128    3082 2023-12-30      1768.8        19.9         1       1036
137    3088 2024-01-20      1768.8        19.9         1       1036
147    3094 2024-02-10      1768.8        19.9         1       1036
156    3100 2024-03-02      1768.8        19.9         1       1036
166    3106 2024-03-22      1768.8        19.9         1       1036
175    3112 2024-04-12      1768.8        19.9         1       1036
185    3118 2024-05-03      1768.8        19.9         1       1036
194    3124 2024-05-24      1768.8        19.9         1       1036
204    3130 2024-06-14      1768.8        19.9         1       1036
213    3136 2024-07-05      1768.8        19.9         1       1036
223    3142 2024-07-26      1768.8        19.9         1       1036
232    3148 2024-08-16      1768.8        19.9         1       1036

    ID CLIENTE  CATEGORIA
13        2005  Papelaria
26        2001  Papelaria
36        2037  Papelaria
45        2021  Papelaria
55        2026  Papelaria
64        2024  Papelaria
74        2025  Papelaria
80        2009  Papelaria
90        2027  Papelaria
99        2008  Papelaria
109       2020  Papelaria
118       2031  Papelaria
128       2007  Papelaria
137       2025  Papelaria
147       2017  Papelaria
156       2006  Papelaria
166       2023  Papelaria
175       2030  Papelaria
185       2020  Papelaria
194       2004  Papelaria
204       2010  Papelaria
213       2006  Papelaria
223       2008  Papelaria
232       2029  Papelaria

--- VENDAS DA CATEGORIA LIVROS ---
    ID NOTA  DATA NOTA  VALOR NOTA  VALOR ITEM  QTD ITEM ID PRODUTO  \
17     3013 2023-04-25      1129.8       999.9         1       1033
33     3024 2023-06-09      1129.8       999.9         1       1033
48     3033 2023-07-10      1129.8       999.9         1       1033
67     3045 2023-08-22      1129.8       999.9         1       1033
83     3054 2023-09-23      1129.8       999.9         1       1033
102    3066 2023-11-04      1129.8       999.9         1       1033
121    3078 2023-12-16      1129.8       999.9         1       1033
140    3090 2024-01-27      1129.8       999.9         1       1033
159    3102 2024-03-08      1129.8       999.9         1       1033
178    3114 2024-04-19      1129.8       999.9         1       1033
197    3126 2024-05-31      1129.8       999.9         1       1033
216    3138 2024-07-12      1129.8       999.9         1       1033
235    3150 2024-08-23      1129.8       999.9         1       1033

    ID CLIENTE CATEGORIA
17        2036    Livros
33        2024    Livros
48        2034    Livros
67        2030    Livros
83        2021    Livros
102       2029    Livros
121       2037    Livros
140       2032    Livros
159       2024    Livros
178       2035    Livros
197       2032    Livros
216       2013    Livros
235       2033    Livros

--- VENDAS DA CATEGORIA FERRAMENTAS ---
    ID NOTA  DATA NOTA  VALOR NOTA  VALOR ITEM  QTD ITEM ID PRODUTO  \
22     3017 2023-05-12      1938.9       639.9         1       1023
31     3023 2023-06-05      1938.9       639.9         1       1023
42     3030 2023-06-29      1938.9       639.9         1       1023
52     3036 2023-07-21      1938.9       639.9         1       1023
61     3042 2023-08-11      1938.9       639.9         1       1023
71     3048 2023-09-02      1938.9       639.9         1       1023
77     3051 2023-09-13      1938.9       639.9         1       1023
87     3057 2023-10-04      1938.9       639.9         1       1023
96     3063 2023-10-25      1938.9       639.9         1       1023
106    3069 2023-11-15      1938.9       639.9         1       1023
115    3075 2023-12-06      1938.9       639.9         1       1023
125    3081 2023-12-27      1938.9       639.9         1       1023
134    3087 2024-01-17      1938.9       639.9         1       1023
144    3093 2024-02-07      1938.9       639.9         1       1023
153    3099 2024-02-28      1938.9       639.9         1       1023
163    3105 2024-03-19      1938.9       639.9         1       1023
172    3111 2024-04-09      1938.9       639.9         1       1023
182    3117 2024-04-30      1938.9       639.9         1       1023
191    3123 2024-05-21      1938.9       639.9         1       1023
201    3129 2024-06-11      1938.9       639.9         1       1023
210    3135 2024-07-02      1938.9       639.9         1       1023
220    3141 2024-07-23      1938.9       639.9         1       1023
229    3147 2024-08-13      1938.9       639.9         1       1023

    ID CLIENTE    CATEGORIA
22        2035  Ferramentas
31        2006  Ferramentas
42        2008  Ferramentas
52        2012  Ferramentas
61        2020  Ferramentas
71        2022  Ferramentas
77        2036  Ferramentas
87        2018  Ferramentas
96        2033  Ferramentas
106       2005  Ferramentas
115       1023  Ferramentas
125       2028  Ferramentas
134       2002  Ferramentas
144       2030  Ferramentas
153       2031  Ferramentas
163       2008  Ferramentas
172       2027  Ferramentas
182       2001  Ferramentas
191       2021  Ferramentas
201       2037  Ferramentas
210       2022  Ferramentas
220       2030  Ferramentas
229       2007  Ferramentas

In [ ]:
# Cálculo do valor total por item
df_vendas_com_categorias['VALOR TOTAL'] = df_vendas_com_categorias['VALOR ITEM'] * df_vendas_com_categorias['QTD ITEM']

# Agrupar e ordenar
vendas_por_categoria = df_vendas_com_categorias.groupby('CATEGORIA')['VALOR TOTAL'].sum().sort_values(ascending=False)

print("\n--- VALOR TOTAL DE VENDAS POR CATEGORIA ---")
print(vendas_por_categoria)

--- VALOR TOTAL DE VENDAS POR CATEGORIA ---
CATEGORIA
Móveis         127610.0
Eletrônicos     96403.1
Ferramentas     14717.7
Livros          12998.7
Papelaria         477.6
Name: VALOR TOTAL, dtype: float64

###Análise do Valor Total de Vendas por Categoria

A análise das transações de vendas da Infomaz revelou o desempenho financeiro de cada categoria de produto em termos de valor total vendido. A categoria Móveis lidera o ranking com um faturamento total de 127.610,00, seguida pela categoria Eletrônicos com  96.403,10. As categorias Ferramentas e Livros apresentam valores de vendas significativamente menores, com 14.717,70 e 12.998,70, respectivamente, enquanto a categoria Papelaria tem o menor valor total vendido, de  477,60.

Esses resultados indicam que os produtos relacionados a móveis e eletrônicos são os principais responsáveis pela receita da empresa, representando as maiores oportunidades para investimento em estoque e estratégias comerciais. Por outro lado, categorias com vendas menores podem demandar revisões em suas estratégias de marketing, oferta ou até mesmo avaliação da necessidade de estoque.

Recomenda-se que a Infomaz priorize a otimização de estoque e políticas de precificação para as categorias de maior valor, garantindo a disponibilidade para atender à demanda. Paralelamente, uma análise mais aprofundada das categorias com menor faturamento poderá identificar oportunidades para ampliar o mix ou reestruturar o portfólio, alinhando a oferta à demanda dos clientes

# 2. Calcule a margem dos produtos subtraindo o valor unitario pelo valor de venda. Utilize as tabelas CADASTRO_ESTOQUE e TRANSACOES_VENDAS.

In [ ]:
# Calcular custo unitário no estoque
df_estoque['CUSTO_UNIT'] = df_estoque['VALOR ESTOQUE'] / df_estoque['QTD ESTOQUE'].replace(0, 1)
print("\n--- CADASTRO ESTOQUE ---")
print(df_estoque.head())
print(df_estoque.info())

--- CADASTRO ESTOQUE ---
  ID ESTOQUE  VALOR ESTOQUE  QTD ESTOQUE DATA ESTOQUE ID FORNECEDOR  \
1       5001       171996.0           50   2023-03-01          F100
2       5002       124768.0           40   2023-02-15          F105
3       5003        35980.0           50   2023-01-10          F110
4       5004        51960.0           50   2023-04-05          F115
5       5005        33996.0           50   2023-03-20          F120

   CUSTO_UNIT
1     3439.92
2     3119.20
3      719.60
4     1039.20
5      679.92
<class 'pandas.core.frame.DataFrame'>
Index: 40 entries, 1 to 40
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ID ESTOQUE     40 non-null     object
 1   VALOR ESTOQUE  40 non-null     float64
 2   QTD ESTOQUE    40 non-null     int64
 3   DATA ESTOQUE   40 non-null     datetime64[ns]
 4   ID FORNECEDOR  40 non-null     object
 5   CUSTO_UNIT     40 non-null     float64
dtypes: datetime64[ns](1), float64(2), int64(1), object(2)
memory usage: 2.2+ KB
None

In [ ]:
# Merge para adicionar ID_ESTOQUE a df_vendas
df_vendas_com_estoque = pd.merge(
    df_vendas,
    df_produtos[['ID PRODUTO', 'ID ESTOQUE']],
    on='ID PRODUTO',
    how='left'
)

# Merge para adicionar custo unitário à venda
df_vendas_com_estoque = pd.merge(
    df_vendas_com_estoque,
    df_estoque[['ID ESTOQUE', 'CUSTO_UNIT']],
    on='ID ESTOQUE',
    how='left'
)


print("\n--- Vendas COM ESTOQUE ---")
print(df_vendas_com_estoque.head())
print(df_vendas_com_estoque.info())

--- Vendas COM ESTOQUE ---
  ID NOTA  DATA NOTA  VALOR NOTA  VALOR ITEM  QTD ITEM ID PRODUTO ID CLIENTE  \
0    3001 2023-03-05      4299.9      4299.9         1       1001       2015
1    3002 2023-03-12      5798.9      3899.0         1       1002       2003
2    3002 2023-03-12      5798.9      1899.0         1       1013       2003
3    3003 2023-03-18      1028.8       129.9         1       1006       2028
4    3003 2023-03-18      1028.8       899.5         1       1003       2028

  ID ESTOQUE  CUSTO_UNIT
0       5001     3439.92
1       5002     3119.20
2       5013     1519.20
3       5006      103.92
4       5003      719.60
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 236 entries, 0 to 235
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ID NOTA     236 non-null    object
 1   DATA NOTA   236 non-null    datetime64[ns]
 2   VALOR NOTA  236 non-null    float64
 3   VALOR ITEM  236 non-null    float64
 4   QTD ITEM    236 non-null    int64
 5   ID PRODUTO  236 non-null    object
 6   ID CLIENTE  236 non-null    object
 7   ID ESTOQUE  236 non-null    object
 8   CUSTO_UNIT  236 non-null    float64
dtypes: datetime64[ns](1), float64(3), int64(1), object(4)
memory usage: 16.7+ KB
None

In [ ]:
# Calcular margem unitária
df_vendas_com_estoque['MARGEM_UNIT'] = df_vendas_com_estoque['VALOR ITEM'] - df_vendas_com_estoque['CUSTO_UNIT']
print("\n--- Vendas COM ESTOQUE ---")
print(df_vendas_com_estoque.head(10))
print(df_vendas_com_estoque.info())

--- Vendas COM ESTOQUE ---
  ID NOTA  DATA NOTA  VALOR NOTA  VALOR ITEM  QTD ITEM ID PRODUTO ID CLIENTE  \
0    3001 2023-03-05      4299.9      4299.9         1       1001       2015
1    3002 2023-03-12      5798.9      3899.0         1       1002       2003
2    3002 2023-03-12      5798.9      1899.0         1       1013       2003
3    3003 2023-03-18      1028.8       129.9         1       1006       2028
4    3003 2023-03-18      1028.8       899.5         1       1003       2028
5    3004 2023-03-22      2398.0      1299.0         2       1004       2011
6    3005 2023-03-25       849.9       849.9         1       1005       2030
7    3006 2023-03-28      1049.7       349.9         3       1009       2007
8    3007 2023-04-02      3899.0      3899.0         1       1002       2025
9    3008 2023-04-07      2598.0      1299.0         2       1004       2019

  ID ESTOQUE  CUSTO_UNIT  MARGEM_UNIT
0       5001     3439.92       859.98
1       5002     3119.20       779.80
2       5013     1519.20       379.80
3       5006      103.92        25.98
4       5003      719.60       179.90
5       5004     1039.20       259.80
6       5005      679.92       169.98
7       5009      279.92        69.98
8       5002     3119.20       779.80
9       5004     1039.20       259.80
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 236 entries, 0 to 235
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ID NOTA      236 non-null    object
 1   DATA NOTA    236 non-null    datetime64[ns]
 2   VALOR NOTA   236 non-null    float64
 3   VALOR ITEM   236 non-null    float64
 4   QTD ITEM     236 non-null    int64
 5   ID PRODUTO   236 non-null    object
 6   ID CLIENTE   236 non-null    object
 7   ID ESTOQUE   236 non-null    object
 8   CUSTO_UNIT   236 non-null    float64
 9   MARGEM_UNIT  236 non-null    float64
dtypes: datetime64[ns](1), float64(4), int64(1), object(4)
memory usage: 18.6+ KB
None

In [ ]:
# Calcular margem total
df_vendas_com_estoque['MARGEM_TOTAL'] = df_vendas_com_estoque['MARGEM_UNIT'] * df_vendas_com_estoque['QTD ITEM']
print("\n--- Vendas COM ESTOQUE ---")
print(df_vendas_com_estoque.head(10))
print(df_vendas_com_estoque.info())

--- Vendas COM ESTOQUE ---
  ID NOTA  DATA NOTA  VALOR NOTA  VALOR ITEM  QTD ITEM ID PRODUTO ID CLIENTE  \
0    3001 2023-03-05      4299.9      4299.9         1       1001       2015
1    3002 2023-03-12      5798.9      3899.0         1       1002       2003
2    3002 2023-03-12      5798.9      1899.0         1       1013       2003
3    3003 2023-03-18      1028.8       129.9         1       1006       2028
4    3003 2023-03-18      1028.8       899.5         1       1003       2028
5    3004 2023-03-22      2398.0      1299.0         2       1004       2011
6    3005 2023-03-25       849.9       849.9         1       1005       2030
7    3006 2023-03-28      1049.7       349.9         3       1009       2007
8    3007 2023-04-02      3899.0      3899.0         1       1002       2025
9    3008 2023-04-07      2598.0      1299.0         2       1004       2019

  ID ESTOQUE  CUSTO_UNIT  MARGEM_UNIT  MARGEM_TOTAL
0       5001     3439.92       859.98        859.98
1       5002     3119.20       779.80        779.80
2       5013     1519.20       379.80        379.80
3       5006      103.92        25.98         25.98
4       5003      719.60       179.90        179.90
5       5004     1039.20       259.80        519.60
6       5005      679.92       169.98        169.98
7       5009      279.92        69.98        209.94
8       5002     3119.20       779.80        779.80
9       5004     1039.20       259.80        519.60
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 236 entries, 0 to 235
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID NOTA       236 non-null    object
 1   DATA NOTA     236 non-null    datetime64[ns]
 2   VALOR NOTA    236 non-null    float64
 3   VALOR ITEM    236 non-null    float64
 4   QTD ITEM      236 non-null    int64
 5   ID PRODUTO    236 non-null    object
 6   ID CLIENTE    236 non-null    object
 7   ID ESTOQUE    236 non-null    object
 8   CUSTO_UNIT    236 non-null    float64
 9   MARGEM_UNIT   236 non-null    float64
 10  MARGEM_TOTAL  236 non-null    float64
dtypes: datetime64[ns](1), float64(5), int64(1), object(4)
memory usage: 20.4+ KB
None

In [ ]:
# Exibir resumo da margem por produto
df_margem_por_produto = df_vendas_com_estoque.groupby('ID PRODUTO')['MARGEM_TOTAL'].sum().reset_index()

print("\n--- MARGEM POR PRODUTO ---")
print(df_margem_por_produto.head())
print(df_margem_por_produto.info())

--- MARGEM POR PRODUTO ---
   ID PRODUTO  MARGEM_TOTAL
0        1001       1719.96
1        1002       2339.40
2        1003      10434.20
3        1004      12730.20
4        1005       4249.50
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID PRODUTO    14 non-null     int64
 1   MARGEM_TOTAL  14 non-null     float64
dtypes: float64(1), int64(1)
memory usage: 356.0 bytes
None

In [ ]:
# Juntar o nome do produto para melhor visualização
df_margem_por_produto = pd.merge(df_margem_por_produto, df_produtos[['ID PRODUTO', 'NOME PRODUTO']], on='ID PRODUTO', how='left')

# Ordenar pelo maior lucro
df_margem_por_produto = df_margem_por_produto.sort_values('MARGEM_TOTAL', ascending=False)

print("\n--- MARGEM POR PRODUTO---")
print(df_margem_por_produto[['ID PRODUTO', 'NOME PRODUTO', 'MARGEM_TOTAL']].to_string(index=False))

--- MARGEM POR PRODUTO---
ID PRODUTO                  NOME PRODUTO  MARGEM_TOTAL
      1004            Cadeira Ergonômica      12730.20
      1033 Livro: Python para Iniciantes      11959.74
      1003            Mesa de Escritório      10434.20
      1023                Serra Elétrica       6807.54
      1039                    Tablet 10"       5279.56
      1009                HD Externo 1TB       5248.50
      1012            Estante em Madeira       4617.80
      1005           Monitor 24" Full HD       4249.50
      1002         Smartphone Galaxy S23       2339.40
      1001            Notebook EliteBook       1719.96
      1013                Armário de Aço        379.80
      1006               Teclado Sem Fio        363.72
      1036                    Grampeador         95.52
      1011           Headphone Bluetooth         79.98

###Análise de Margem de Lucro por Produto

Calculamos a margem total de lucro subtraindo o custo unitário de cada produto do seu preço de venda, multiplicando pela quantidade vendida.

Os produtos com maior margem total são:

Cadeira Ergonômica com R$ 12.730,20

Livro: Python para Iniciantes com R$ 11.959,74

Mesa de Escritório com R$ 10.434,20

Esses produtos contribuem significativamente para a rentabilidade da empresa.

Produtos com margens mais baixas, como o Grampeador e o Headphone Bluetooth, geram menor lucro total, e podem ser avaliados para ajustes de preço, custo ou foco de venda.

Esta análise auxilia na priorização do mix de produtos para otimizar lucros.

###Analise Pessoal fora do escopo da pergunta

In [ ]:
#Identificar os produtos que foram vendidos
produtos_vendidos = df_vendas['ID PRODUTO'].unique()

#Filtrar o df_produtos para manter apenas os produtos que não foram vendidos
df_produtos_nao_vendidos = df_produtos[~df_produtos['ID PRODUTO'].isin(produtos_vendidos)]

# 3. Juntar df_produtos_nao_vendidos com df_estoque para visualizar os produtos que não foram vendidos
df_estoque_nao_vendido = pd.merge(
    df_produtos_nao_vendidos,
    df_estoque[['ID ESTOQUE', 'QTD ESTOQUE', 'VALOR ESTOQUE']],  # Incluindo o valor de estoque
    on='ID ESTOQUE',
    how='left'
)

#Exibir os resultados dos produtos que não venderam nenhuma unidade
print("\n--- Produtos Não Vendidos com Valor de Estoque ---")
print(df_estoque_nao_vendido[['ID PRODUTO', 'NOME PRODUTO', 'QTD ESTOQUE', 'VALOR ESTOQUE']])

--- Produtos Não Vendidos com Valor de Estoque ---
   ID PRODUTO               NOME PRODUTO  QTD ESTOQUE  VALOR ESTOQUE
0        1007                Mouse Gamer          100        15992.0
1        1008  Impressora Multifuncional           50        27960.0
2        1010             Webcam Full HD           50         9996.0
3        1014          Luminária de Mesa          100         7192.0
4        1015          Quadro Decorativo           50         5196.0
5        1016          Tapete Retangular           50         7196.0
6        1017         Cafeteira Elétrica           50         8796.0
7        1018         Ventilador de Mesa           50         5996.0
8        1019             Liquidificador           50         3996.0
9        1020            Ferro de Passar           50         4796.0
10       1021              Furadeira 12V           50        11596.0
11       1022             Jogo de Chaves           50         3196.0
12       1024                Kit Pincéis           50         2396.0
13       1025      Mochila para Notebook           50         6396.0
14       1026       Suporte para Monitor           50         3596.0
15       1027       Organizador de Cabos           50         1596.0
16       1028        Carregador Portátil           50         4796.0
17       1029     Fone de Ouvido com Fio           50         3196.0
18       1030            Adaptador USB-C           50         1996.0
19       1031  Livro: Gestão de Projetos           50         3596.0
20       1032   Livro: Marketing Digital           50         2796.0
21       1034       Caneta Esferográfica           50          116.0
22       1035      Caderno Universitário           50          996.0
23       1037     Calculadora Financeira           50         5196.0
24       1038          Roteador Wi-Fi 5G           50        13996.0
25       1040                 Smartwatch           50        35996.0

In [ ]:
#Calcular a soma total do valor de estoque
total_valor_estoque = df_estoque_nao_vendido['VALOR ESTOQUE'].sum()

#Exibir o total de valor de estoque (estoque parado)
print("\n--- Total de Valor de Estoque (Estoque Parado) ---")
print(f"Total valor de estoque parado: R${total_valor_estoque:.2f}")

--- Total de Valor de Estoque (Estoque Parado) ---
Total valor de estoque parado: R$198572.00

Com base nos dados, temos R$ 198.572,00 de estoque parado (produtos não vendidos). Para otimizar esse valor, algumas ações podem ser tomadas:

1.Promoções e Descontos: Ofereça promoções para acelerar a venda desses produtos.

2.Combos de Produtos: Agrupe esses itens com outros produtos populares para aumentar as vendas.

3.Análise de Baixo Desempenho: Avalie se os produtos estão desatualizados ou se não têm demanda e considere descontinuá-los.

4.Marketing Direcionado: Realize campanhas específicas para promover esses produtos, ajustando preços ou destacando suas qualidades.

5.Gestão de Estoque: Reavalie o sistema de controle de estoque para evitar sobrecarga de produtos de baixa venda no futuro.

Essas ações podem ajudar a liberar espaço, reduzir o estoque parado e aumentar as vendas, otimizando a rentabilidade da empresa.

#3. Calcule um ranking de clientes por quantidade de produtos comprados por mês. Utilize as tabelas CADASTRO_CLIENTES e TRANSACOES_VENDAS.

In [ ]:
# Criar coluna 'ANO_MES' para agrupar por mês
df_vendas['ANO_MES'] = df_vendas['DATA NOTA'].dt.to_period('M')

print("\n--- Vendas ---")
print(df_vendas.head())
print(df_vendas.info())

--- Vendas ---
  ID NOTA  DATA NOTA  VALOR NOTA  VALOR ITEM  QTD ITEM ID PRODUTO ID CLIENTE  \
1    3001 2023-03-05      4299.9      4299.9         1       1001       2015
2    3002 2023-03-12      5798.9      3899.0         1       1002       2003
3    3002 2023-03-12      5798.9      1899.0         1       1013       2003
4    3003 2023-03-18      1028.8       129.9         1       1006       2028
5    3003 2023-03-18      1028.8       899.5         1       1003       2028

   ANO_MES
1  2023-03
2  2023-03
3  2023-03
4  2023-03
5  2023-03
<class 'pandas.core.frame.DataFrame'>
Index: 236 entries, 1 to 236
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ID NOTA     236 non-null    object
 1   DATA NOTA   236 non-null    datetime64[ns]
 2   VALOR NOTA  236 non-null    float64
 3   VALOR ITEM  236 non-null    float64
 4   QTD ITEM    236 non-null    int64
 5   ID PRODUTO  236 non-null    object
 6   ID CLIENTE  236 non-null    object
 7   ANO_MES     236 non-null    period[M]
dtypes: datetime64[ns](1), float64(2), int64(1), object(3), period[M](1)
memory usage: 16.6+ KB
None

In [ ]:
# Agrupar por cliente e mês somando a quantidade de itens comprados
ranking = (
    df_vendas.groupby(['ID CLIENTE', 'ANO_MES'])['QTD ITEM']
    .sum()
    .reset_index()
)

# Juntar o nome do cliente para facilitar a visualização
ranking = pd.merge(ranking, df_clientes[['ID CLIENTE', 'NOME CLIENTE']], on='ID CLIENTE', how='left')

# Ordenar por mês e quantidade descrescente para ranking
ranking = ranking.sort_values(by=['ANO_MES', 'QTD ITEM'], ascending=[True, False])

# Exibir as primeiras linhas para verificar
print("\n--- Ranking de Clientes por Mês TOP 10 ---")
print(ranking.head(10))
print("\n--- Ranking de Clientes por Mês BOTOM 10 ---")
print(ranking.tail(10))

--- Ranking de Clientes por Mês TOP 10 ---
    ID CLIENTE  ANO_MES  QTD ITEM             NOME CLIENTE
22        2007  2023-03         3  Ricardo Fernandes Gomes
7         2003  2023-03         2   Carlos Eduardo Pereira
38        2011  2023-03         2       Lucas Gabriel Dias
105       2028  2023-03         2       Laura Mendes Sousa
51        2015  2023-03         1  Gustavo Henrique Barros
114       2030  2023-03         1    Claudia Regina Moraes
14        2005  2023-04         3     Pedro Henrique Souza
58        2017  2023-04         3   Rafael Carvalho Santos
68        2019  2023-04         2     Bruno Costa Teixeira
137       2036  2023-04         2     Viviane Castro Neves

--- Ranking de Clientes por Mês BOTOM 10 ---
    ID CLIENTE  ANO_MES  QTD ITEM               NOME CLIENTE
84        2022  2024-07         2      Daniela Soares Campos
119       2030  2024-07         2      Claudia Regina Moraes
104       2027  2024-07         1        Felipe Augusto Dias
41        2011  2024-08         3         Lucas Gabriel Dias
67        2018  2024-08         3        Larissa Moura Brito
113       2029  2024-08         3            André Luiz Rios
26        2007  2024-08         2    Ricardo Fernandes Gomes
130       2033  2024-08         2  Rodrigo Pires Albuquerque
92        2024  2024-08         1       Beatriz Cunha Xavier
141       2036  2024-08         1       Viviane Castro Neves

In [ ]:
# Ordenar por quantidade de itens (QTD ITEM)
ranking_valor_cliente = ranking_valor_cliente.sort_values(by='QTD ITEM', ascending=False)

# Exibir o ranking de clientes por quantidade de itens
print("\n--- Ranking de Clientes por Quantidade de Itens (Ordenado) ---")
print(ranking_valor_cliente.head(10))

print(ranking_valor_cliente.tail(10))

--- Ranking de Clientes por Quantidade de Itens (Ordenado) ---
    ID CLIENTE  ANO_MES  QTD ITEM  VALOR_TOTAL               NOME CLIENTE
22        2007  2023-03         3       1049.7    Ricardo Fernandes Gomes
14        2005  2023-04         3       1769.3       Pedro Henrique Souza
45        2013  2023-06         3       2698.5   Roberto Andrade Pinheiro
1         2001  2023-05         3       1769.3         João Silva Almeida
48        2014  2023-05         3       1049.7  Camila Duarte Vasconcelos
58        2017  2023-04         3       2698.5     Rafael Carvalho Santos
2         2001  2023-11         3       2698.5         João Silva Almeida
106       2028  2023-09         3       1049.7         Laura Mendes Sousa
39        2011  2023-10         3       2698.5         Lucas Gabriel Dias
102       2027  2023-10         3       1769.3        Felipe Augusto Dias
    ID CLIENTE  ANO_MES  QTD ITEM  VALOR_TOTAL              NOME CLIENTE
79        2021  2024-02         1       1199.9        Diego Pereira Lima
9         2003  2024-02         1        899.0    Carlos Eduardo Pereira
10        2003  2024-06         1        899.0    Carlos Eduardo Pereira
133       2034  2024-06         1       1199.9      Mariana Torres Lemos
96        2025  2024-06         1       1199.9  Leonardo Martins Barbosa
25        2007  2024-05         1        899.0   Ricardo Fernandes Gomes
147       2038  2024-05         1       1199.9       Silvia Helena Prado
104       2027  2024-07         1       1199.9       Felipe Augusto Dias
141       2036  2024-08         1       1199.9      Viviane Castro Neves
92        2024  2024-08         1        899.0      Beatriz Cunha Xavier

Ranking de Clientes por Quantidade de Itens Comprados
TOP 10:
Os clientes que compram mais itens por mês mostram um alto engajamento com a marca. Esses clientes são ideais para ações de fidelização, promoções especiais e programas de recompensa, visando manter ou aumentar o volume de compras.

Pergunta Possível:
"Quais clientes são os mais ativos em termos de compras mensais e como podemos otimizar nossas estratégias de marketing para aumentar a frequência de compras dos clientes que compram menos frequentemente?"

Justificativa para a Pergunta:
Clientes Ativos: Aqueles que compram frequentemente representam uma oportunidade para ações de fidelização, promoções exclusivas e aumentar ainda mais seu engajamento.

Clientes Inativos: Aqueles que compram menos frequentemente podem ser incentivados a aumentar o volume de compras por meio de campanhas específicas ou descontos personalizados.

BOTTOM 10:
Clientes que compram apenas 1 item por mês representam uma oportunidade para estratégias de marketing que visam aumentar o volume de compras, como campanhas específicas e promoções direcionadas.

Observação Importante:
A análise considera a quantidade de itens comprados como um indicador chave de engajamento. Embora o valor total gasto também seja relevante, o número de produtos adquiridos é útil para entender os comportamentos de compra e otimizar as estratégias de marketing.

### Analise Pessoal fora do escopo da pergunta

In [ ]:
# Calcular o valor total gasto por cada venda
df_vendas['VALOR_TOTAL'] = df_vendas['QTD ITEM'] * df_vendas['VALOR ITEM']

# Agrupar por cliente e mês somando a quantidade de itens e o valor total gasto
ranking_valor_cliente = (
    df_vendas.groupby(['ID CLIENTE', 'ANO_MES'])[['QTD ITEM', 'VALOR_TOTAL']]
    .sum()
    .reset_index()
)

# Juntar o nome do cliente para facilitar a visualização
ranking_valor_cliente = pd.merge(ranking_valor_cliente, df_clientes[['ID CLIENTE', 'NOME CLIENTE']], on='ID CLIENTE', how='left')

# Ordenar por mês e quantidade descrescente para ranking de quantidade de itens
ranking_valor_cliente = ranking_valor_cliente.sort_values(by=['ANO_MES', 'QTD ITEM'], ascending=[True, False])

# Exibir os primeiros 10 clientes por quantidade de itens comprados
print("\n--- Ranking de Clientes por Mês TOP 10 ---")
print(ranking_valor_cliente.head(10))

# Ordenar por mês e valor total gasto
ranking_valor_cliente = ranking_valor_cliente.sort_values(by=['ANO_MES', 'VALOR_TOTAL'], ascending=[True, False])

# Exibir os primeiros 10 clientes por valor total gasto
print("\n--- Ranking de Clientes por Mês TOP 10 por Valor Gasto ---")
print(ranking_valor_cliente.head(10))

--- Ranking de Clientes por Mês TOP 10 ---
    ID CLIENTE  ANO_MES  QTD ITEM  VALOR_TOTAL             NOME CLIENTE
22        2007  2023-03         3       1049.7  Ricardo Fernandes Gomes
7         2003  2023-03         2       5798.0   Carlos Eduardo Pereira
38        2011  2023-03         2       2598.0       Lucas Gabriel Dias
105       2028  2023-03         2       1029.4       Laura Mendes Sousa
51        2015  2023-03         1       4299.9  Gustavo Henrique Barros
114       2030  2023-03         1        849.9    Claudia Regina Moraes
14        2005  2023-04         3       1769.3     Pedro Henrique Souza
58        2017  2023-04         3       2698.5   Rafael Carvalho Santos
68        2019  2023-04         2       2598.0     Bruno Costa Teixeira
137       2036  2023-04         2       1129.8     Viviane Castro Neves

--- Ranking de Clientes por Mês TOP 10 por Valor Gasto ---
    ID CLIENTE  ANO_MES  QTD ITEM  VALOR_TOTAL              NOME CLIENTE
7         2003  2023-03         2       5798.0    Carlos Eduardo Pereira
51        2015  2023-03         1       4299.9   Gustavo Henrique Barros
38        2011  2023-03         2       2598.0        Lucas Gabriel Dias
22        2007  2023-03         3       1049.7   Ricardo Fernandes Gomes
105       2028  2023-03         2       1029.4        Laura Mendes Sousa
114       2030  2023-03         1        849.9     Claudia Regina Moraes
81        2022  2023-04         1       4299.9     Daniela Soares Campos
93        2025  2023-04         1       3899.0  Leonardo Martins Barbosa
58        2017  2023-04         3       2698.5    Rafael Carvalho Santos
68        2019  2023-04         2       2598.0      Bruno Costa Teixeira

Ranking de Clientes por Quantidade de Itens Comprados (TOP 10):
Os clientes que compram mais itens por mês são fundamentais para estratégias de fidelização. Eles demonstram um alto engajamento com a marca e podem ser alvos ideais para campanhas de recompensas e ofertas exclusivas.

Ranking de Clientes por Valor Gasto (TOP 10):
Clientes que gastam mais, independentemente da quantidade de itens, também representam um alto valor para a empresa. Focar nesses clientes com ofertas personalizadas e programas de fidelização pode aumentar ainda mais o volume de compras e a satisfação do cliente.

Pergunta Possível:
"Como podemos otimizar nossas estratégias de marketing para aumentar a frequência de compras dos clientes com menor volume de compras, mantendo os que já compram regularmente engajados?"

Justificativa para a Pergunta:
Clientes Ativos (mais itens ou mais gastos): Clientes que compram mais frequentemente ou gastam mais representam uma base fiel. Eles podem ser mantidos engajados através de promoções e ofertas direcionadas.

Clientes Menos Ativos (menos itens ou menos gastos): Aumentar a frequência de compras desses clientes pode ser alcançado com campanhas segmentadas, descontos ou produtos exclusivos. Isso pode ser feito por meio de incentivo ao aumento no volume de compras mensais.

Conclusão:
A análise das quantidades compradas e o valor gasto oferece uma visão clara dos clientes mais engajados. Estratégias direcionadas podem ser adotadas para maximizar o potencial de compra tanto dos clientes que compram mais quanto daqueles que compram menos.

#4. Calcule um ranking de fornecedores por quantidade de estoque disponivel por mês. Utilize as tabelas CADASTRO_FORNECEDORES e CADASTRO_ESTOQUE.

In [ ]:
# Criar coluna 'ANO_MES' para agrupar por mês
df_estoque['ANO_MES'] = df_estoque['DATA ESTOQUE'].dt.to_period('M')

print("\n--- Estoque ---")
print(df_estoque.head())
print(df_estoque.info())

--- Estoque ---
  ID ESTOQUE  VALOR ESTOQUE  QTD ESTOQUE DATA ESTOQUE ID FORNECEDOR  \
1       5001       171996.0           50   2023-03-01          F100
2       5002       124768.0           40   2023-02-15          F105
3       5003        35980.0           50   2023-01-10          F110
4       5004        51960.0           50   2023-04-05          F115
5       5005        33996.0           50   2023-03-20          F120

   CUSTO_UNIT  ANO_MES
1     3439.92  2023-03
2     3119.20  2023-02
3      719.60  2023-01
4     1039.20  2023-04
5      679.92  2023-03
<class 'pandas.core.frame.DataFrame'>
Index: 40 entries, 1 to 40
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ID ESTOQUE     40 non-null     object
 1   VALOR ESTOQUE  40 non-null     float64
 2   QTD ESTOQUE    40 non-null     int64
 3   DATA ESTOQUE   40 non-null     datetime64[ns]
 4   ID FORNECEDOR  40 non-null     object
 5   CUSTO_UNIT     40 non-null     float64
 6   ANO_MES        40 non-null     period[M]
dtypes: datetime64[ns](1), float64(2), int64(1), object(2), period[M](1)
memory usage: 2.5+ KB
None

In [ ]:
# Agrupar por fornecedor e mês, somando a quantidade em estoque
ranking_fornecedores = (
    df_estoque.groupby(['ID FORNECEDOR', 'ANO_MES'])['QTD ESTOQUE']
    .sum()
    .reset_index()
)

# Juntar o nome do fornecedor
ranking_fornecedores = pd.merge(
    ranking_fornecedores,
    df_fornecedores[['ID FORNECEDOR', 'NOME FORNECEDOR']],
    on='ID FORNECEDOR',
    how='left'
)

# Ordenar por mês e quantidade em estoque decrescente
ranking_fornecedores = ranking_fornecedores.sort_values(['ANO_MES', 'QTD ESTOQUE'], ascending=[True, False])

# Mostrar as primeiras linhas para ver o resultado
print("\n--- Ranking de Fornecedores por Mês  TOP 10---")
print(ranking_fornecedores.head(10))

print("\n--- Ranking de Fornecedores por Mês  BOTTOM 10---")
print(ranking_fornecedores.tail(10))

--- Ranking de Fornecedores por Mês  TOP 10---
   ID FORNECEDOR  ANO_MES  QTD ESTOQUE            NOME FORNECEDOR
18          F125  2022-11           50   Ferramentas Gerais & Cia
0           F100  2022-12           50  Eletrônicos Nacional Ltda
21          F130  2022-12           50    Acessórios Digital Ltda
6           F110  2023-01           50   Móveis Premium Indústria
10          F115  2023-01           50        DecoraHome Comércio
14          F120  2023-01           50    EletroDom Distribuidora
7           F110  2023-02           50   Móveis Premium Indústria
11          F115  2023-02           50        DecoraHome Comércio
25          F135  2023-02           50    Livros Técnicos Editora
3           F105  2023-02           40           TecnoImport S.A.

--- Ranking de Fornecedores por Mês  BOTTOM 10---
   ID FORNECEDOR  ANO_MES  QTD ESTOQUE           NOME FORNECEDOR
20          F125  2023-07           50  Ferramentas Gerais & Cia
36          F150  2023-07           50      Fornecedor Universal
9           F110  2023-08           50  Móveis Premium Indústria
28          F135  2023-08           50   Livros Técnicos Editora
34          F145  2023-08           50   Atacado dos Eletrônicos
5           F105  2023-09           50          TecnoImport S.A.
24          F130  2023-09           50   Acessórios Digital Ltda
13          F115  2023-10           50       DecoraHome Comércio
31          F140  2023-10           50    Gadgets Internacionais
37          F150  2023-11           50      Fornecedor Universal

Ranking de Fornecedores por Mês (TOP 10):
O ranking mostra quais fornecedores tiveram maior quantidade de estoque disponível a cada mês. Por exemplo, no mês de dezembro de 2022, fornecedores como "Eletrônicos Nacional Ltda" e "Acessórios Digital Ltda" destacaram-se com 50 unidades em estoque.

Ranking de Fornecedores por Mês (BOTTOM 10):
No lado oposto, alguns fornecedores apresentaram estoque mais baixo em meses posteriores, como em julho de 2023, onde fornecedores como "Fornecedor Universal" e "Móveis Premium Indústria" estavam com 50 unidades, mas em meses com menos movimentação.

Análise:
Esse ranking pode ser útil para entender a distribuição de estoque por fornecedor ao longo do tempo e identificar possíveis sazonalidades ou variações no fornecimento. Fornecedores com maiores quantidades de estoque podem ser alvo de otimizações na cadeia de suprimentos para evitar excessos ou falta de produtos, enquanto aqueles com estoques baixos podem precisar de ajustes no planejamento.

Pergunta Possível:
"Como podemos otimizar nosso relacionamento com os fornecedores que frequentemente apresentam altos ou baixos níveis de estoque ao longo do tempo?"

Justificativa:
Fornecedores com alto estoque: Estratégias de compras em maior volume podem ser vantajosas para esses fornecedores, permitindo melhores condições comerciais e previsibilidade no abastecimento.

Fornecedores com baixo estoque: Deve-se avaliar se há uma oportunidade de renegociar os tempos de entrega ou melhorar o controle de demanda para evitar rupturas de estoque.

#5. Calcule um ranking de produtos por quantidade de venda por mês. Utilize a tabela TRANSACOES_VENDAS.

In [ ]:
# Coluna 'ANO_MES' para agrupar por mês ja existia

print("\n--- Vendas ---")
print(df_vendas.head())
print(df_vendas.info())

--- Vendas ---
  ID NOTA  DATA NOTA  VALOR NOTA  VALOR ITEM  QTD ITEM ID PRODUTO ID CLIENTE  \
1    3001 2023-03-05      4299.9      4299.9         1       1001       2015
2    3002 2023-03-12      5798.9      3899.0         1       1002       2003
3    3002 2023-03-12      5798.9      1899.0         1       1013       2003
4    3003 2023-03-18      1028.8       129.9         1       1006       2028
5    3003 2023-03-18      1028.8       899.5         1       1003       2028

   ANO_MES  VALOR_TOTAL
1  2023-03       4299.9
2  2023-03       3899.0
3  2023-03       1899.0
4  2023-03        129.9
5  2023-03        899.5
<class 'pandas.core.frame.DataFrame'>
Index: 236 entries, 1 to 236
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ID NOTA      236 non-null    object
 1   DATA NOTA    236 non-null    datetime64[ns]
 2   VALOR NOTA   236 non-null    float64
 3   VALOR ITEM   236 non-null    float64
 4   QTD ITEM     236 non-null    int64
 5   ID PRODUTO   236 non-null    object
 6   ID CLIENTE   236 non-null    object
 7   ANO_MES      236 non-null    period[M]
 8   VALOR_TOTAL  236 non-null    float64
dtypes: datetime64[ns](1), float64(3), int64(1), object(3), period[M](1)
memory usage: 18.4+ KB
None

In [ ]:
# Agrupar por produto e mês somando a quantidade vendida
ranking_produtos = (
    df_vendas.groupby(['ID PRODUTO', 'ANO_MES'])['QTD ITEM']
    .sum()
    .reset_index()
)

# Se quiser, juntar nome do produto para facilitar a visualização (assumindo df_produtos carregado)
ranking_produtos = pd.merge(
    ranking_produtos,
    df_produtos[['ID PRODUTO', 'NOME PRODUTO']],
    on='ID PRODUTO',
    how='left'
)

# Ordenar por mês e quantidade vendida decrescente
ranking_produtos = ranking_produtos.sort_values(by=['ANO_MES', 'QTD ITEM'], ascending=[True, False])

# Mostrar as primeiras linhas
print("\n--- Ranking de Produtos por Mês TOP 10 ---")
print(ranking_produtos.head(10))

print("\n--- Ranking de Produtos por Mês BOTTOM 10 ---")
print(ranking_produtos.tail(10))

--- Ranking de Produtos por Mês TOP 10 ---
    ID PRODUTO  ANO_MES  QTD ITEM           NOME PRODUTO
73        1009  2023-03         3         HD Externo 1TB
23        1004  2023-03         2     Cadeira Ergonômica
0         1001  2023-03         1     Notebook EliteBook
2         1002  2023-03         1  Smartphone Galaxy S23
5         1003  2023-03         1     Mesa de Escritório
41        1005  2023-03         1    Monitor 24" Full HD
59        1006  2023-03         1        Teclado Sem Fio
102       1013  2023-03         1         Armário de Aço
6         1003  2023-04         4     Mesa de Escritório
24        1004  2023-04         2     Cadeira Ergonômica

--- Ranking de Produtos por Mês BOTTOM 10 ---
    ID PRODUTO  ANO_MES  QTD ITEM                   NOME PRODUTO
22        1003  2024-08         4             Mesa de Escritório
89        1009  2024-08         3                 HD Externo 1TB
40        1004  2024-08         1             Cadeira Ergonômica
58        1005  2024-08         1            Monitor 24" Full HD
72        1006  2024-08         1                Teclado Sem Fio
101       1012  2024-08         1             Estante em Madeira
118       1023  2024-08         1                 Serra Elétrica
131       1033  2024-08         1  Livro: Python para Iniciantes
148       1036  2024-08         1                     Grampeador
165       1039  2024-08         1                     Tablet 10"

Ranking de Produtos por Quantidade de Venda por Mês
TOP 10 Produtos:
O ranking revela os produtos mais vendidos por mês. Em março de 2023, destacaram-se os itens como "HD Externo 1TB", "Cadeira Ergonômica" e "Notebook EliteBook". Isso indica que esses produtos tiveram maior demanda, possivelmente devido a fatores como sazonalidade, promoções ou estratégias de marketing eficazes.

BOTTOM 10 Produtos:
Por outro lado, produtos como "Tablet 10" e "Grampeador" aparecem entre os menos vendidos nos meses de agosto de 2024, com apenas uma unidade vendida. Esses produtos podem estar com baixo apelo no mercado ou ser de nicho, o que exige uma análise mais aprofundada sobre a estratégia de venda.

Análise:
Produtos de alta venda: Produtos com alta rotatividade podem ser prioridades para campanhas de marketing, reabastecimento frequente e até renegociação de preços com fornecedores, visando aumentar a lucratividade.

Produtos de baixa venda: Já os produtos de baixa venda podem precisar de reavaliação quanto ao seu posicionamento no mercado, preço ou estratégias promocionais. Ofertas ou campanhas direcionadas a esses itens podem ser uma boa alternativa.

Pergunta Possível:
"Como podemos aumentar as vendas de produtos com baixa demanda e aproveitar os de alta rotatividade para melhorar nossa estratégia de vendas e estoque?"

Justificativa:
Produtos com maior volume de vendas merecem atenção em termos de estocagem e promoção, enquanto os de baixa venda precisam de estratégias específicas para aumentar a atração, como descontos, bundling, ou campanhas direcionadas a nichos específicos.

#6. Calcule um ranking de produtos por valor de venda por mês. Utilize a tabela TRANSACOES_VENDAS.

In [ ]:
# Calcular valor total por linha (valor unitário * quantidade)
df_vendas['VALOR_TOTAL'] = df_vendas['VALOR ITEM'] * df_vendas['QTD ITEM']

print("\n--- Vendas ---")
print(df_vendas.head(20))
print(df_vendas.info())

--- Vendas ---
   ID NOTA  DATA NOTA  VALOR NOTA  VALOR ITEM  QTD ITEM ID PRODUTO ID CLIENTE  \
1     3001 2023-03-05      4299.9      4299.9         1       1001       2015
2     3002 2023-03-12      5798.9      3899.0         1       1002       2003
3     3002 2023-03-12      5798.9      1899.0         1       1013       2003
4     3003 2023-03-18      1028.8       129.9         1       1006       2028
5     3003 2023-03-18      1028.8       899.5         1       1003       2028
6     3004 2023-03-22      2398.0      1299.0         2       1004       2011
7     3005 2023-03-25       849.9       849.9         1       1005       2030
8     3006 2023-03-28      1049.7       349.9         3       1009       2007
9     3007 2023-04-02      3899.0      3899.0         1       1002       2025
10    3008 2023-04-07      2598.0      1299.0         2       1004       2019
11    3009 2023-04-10      1199.9      1199.9         1       1039       2033
12    3010 2023-04-15      1768.8       849.9         1       1005       2005
13    3010 2023-04-15      1768.8       899.5         1       1003       2005
14    3010 2023-04-15      1768.8        19.9         1       1036       2005
15    3011 2023-04-18       399.9       399.9         1       1011       2020
16    3012 2023-04-20      2699.0       899.5         3       1003       2017
17    3013 2023-04-25      1129.8       129.9         1       1006       2036
18    3013 2023-04-25      1129.8       999.9         1       1033       2036
19    3014 2023-04-28      4299.9      4299.9         1       1001       2022
20    3015 2023-05-03      1049.4       349.9         3       1009       2014

    ANO_MES  VALOR_TOTAL
1   2023-03       4299.9
2   2023-03       3899.0
3   2023-03       1899.0
4   2023-03        129.9
5   2023-03        899.5
6   2023-03       2598.0
7   2023-03        849.9
8   2023-03       1049.7
9   2023-04       3899.0
10  2023-04       2598.0
11  2023-04       1199.9
12  2023-04        849.9
13  2023-04        899.5
14  2023-04         19.9
15  2023-04        399.9
16  2023-04       2698.5
17  2023-04        129.9
18  2023-04        999.9
19  2023-04       4299.9
20  2023-05       1049.7
<class 'pandas.core.frame.DataFrame'>
Index: 236 entries, 1 to 236
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ID NOTA      236 non-null    object
 1   DATA NOTA    236 non-null    datetime64[ns]
 2   VALOR NOTA   236 non-null    float64
 3   VALOR ITEM   236 non-null    float64
 4   QTD ITEM     236 non-null    int64
 5   ID PRODUTO   236 non-null    object
 6   ID CLIENTE   236 non-null    object
 7   ANO_MES      236 non-null    period[M]
 8   VALOR_TOTAL  236 non-null    float64
dtypes: datetime64[ns](1), float64(3), int64(1), object(3), period[M](1)
memory usage: 18.4+ KB
None

In [ ]:
# Agrupar por produto e mês, somando o valor total das vendas
ranking_valor_venda = (
    df_vendas.groupby(['ID PRODUTO', 'ANO_MES'])['VALOR_TOTAL']
    .sum()
    .reset_index()
)

# Juntar nome do produto para facilitar visualização
ranking_valor_venda = pd.merge(
    ranking_valor_venda,
    df_produtos[['ID PRODUTO', 'NOME PRODUTO']],
    on='ID PRODUTO',
    how='left'
)

# Ordenar por mês e valor total de venda decrescente
ranking_valor_venda = ranking_valor_venda.sort_values(by=['ANO_MES', 'VALOR_TOTAL'], ascending=[True, False])

# Exibir as primeiras linhas para verificar
print("\n--- Ranking de Produtos por Valor de Venda por Mês TOP 10 ---")
print(ranking_valor_venda.head(10))

print("\n--- Ranking de Produtos por Valor de Venda por Mês BOTTOM 10 ---")
print(ranking_valor_venda.tail(10))

--- Ranking de Produtos por Valor de Venda por Mês TOP 10 ---
    ID PRODUTO  ANO_MES  VALOR_TOTAL           NOME PRODUTO
0         1001  2023-03       4299.9     Notebook EliteBook
2         1002  2023-03       3899.0  Smartphone Galaxy S23
23        1004  2023-03       2598.0     Cadeira Ergonômica
102       1013  2023-03       1899.0         Armário de Aço
73        1009  2023-03       1049.7         HD Externo 1TB
5         1003  2023-03        899.5     Mesa de Escritório
41        1005  2023-03        849.9    Monitor 24" Full HD
59        1006  2023-03        129.9        Teclado Sem Fio
1         1001  2023-04       4299.9     Notebook EliteBook
3         1002  2023-04       3899.0  Smartphone Galaxy S23

--- Ranking de Produtos por Valor de Venda por Mês BOTTOM 10 ---
    ID PRODUTO  ANO_MES  VALOR_TOTAL                   NOME PRODUTO
22        1003  2024-08       3598.0             Mesa de Escritório
40        1004  2024-08       1299.0             Cadeira Ergonômica
165       1039  2024-08       1199.9                     Tablet 10"
89        1009  2024-08       1049.7                 HD Externo 1TB
131       1033  2024-08        999.9  Livro: Python para Iniciantes
101       1012  2024-08        899.0             Estante em Madeira
58        1005  2024-08        849.9            Monitor 24" Full HD
118       1023  2024-08        639.9                 Serra Elétrica
72        1006  2024-08        129.9                Teclado Sem Fio
148       1036  2024-08         19.9                     Grampeador

TOP 10 Produtos por Valor de Venda:
Os produtos que lideram o ranking de vendas por valor são "Notebook EliteBook", "Smartphone Galaxy S23" e "Cadeira Ergonômica", com valores significativos em março de 2023. Esses produtos representam os itens mais lucrativos e, provavelmente, são os mais procurados pelos consumidores. Eles devem receber destaque nas estratégias de marketing, como promoções ou bundling.

BOTTOM 10 Produtos por Valor de Venda:
Por outro lado, produtos como "Teclado Sem Fio", "Serra Elétrica" e "Grampeador" aparecem entre os produtos com menores valores de venda, especialmente em agosto de 2024. Esses itens podem estar com baixo desempenho devido a diversos fatores, como falta de demanda, preço elevado, ou concorrência acirrada.

Análise:
Produtos de Alta Venda: Produtos com alto valor de venda como "Notebook EliteBook" e "Smartphone Galaxy S23" devem ser priorizados para estratégias de fidelização e promoções, pois têm uma alta demanda e geram um grande retorno financeiro.

Produtos de Baixa Venda: Produtos de baixo valor de venda, como "Teclado Sem Fio" e "Grampeador", podem ser analisados para verificar se ajustes no preço, promoção ou marketing podem aumentar a atratividade. Outra alternativa seria revisar a necessidade de manter esses produtos no portfólio.

Pergunta Possível:
"Como podemos aumentar o valor total das vendas de produtos de baixo desempenho, e quais ações podemos tomar para destacar ainda mais os produtos que geram maior retorno?"

Justificativa:
Produtos de alto valor precisam de campanhas que fortaleçam sua demanda, enquanto os de baixo valor devem ser monitorados de perto para identificar possíveis ajustes que possam melhorar suas vendas, seja por promoção ou readequação de preços.

#7. Calcule a média de valor de venda por categoria de produto por mês. Utiliza as tabelas CADASTRO_PRODUTOS e TRANSACOES_VENDAS

In [ ]:
print("\n--- Vendas ---")
print(df_vendas.head())
print(df_vendas.info())

--- Vendas ---
  ID NOTA  DATA NOTA  VALOR NOTA  VALOR ITEM  QTD ITEM ID PRODUTO ID CLIENTE  \
1    3001 2023-03-05      4299.9      4299.9         1       1001       2015
2    3002 2023-03-12      5798.9      3899.0         1       1002       2003
3    3002 2023-03-12      5798.9      1899.0         1       1013       2003
4    3003 2023-03-18      1028.8       129.9         1       1006       2028
5    3003 2023-03-18      1028.8       899.5         1       1003       2028

   ANO_MES  VALOR_TOTAL
1  2023-03       4299.9
2  2023-03       3899.0
3  2023-03       1899.0
4  2023-03        129.9
5  2023-03        899.5
<class 'pandas.core.frame.DataFrame'>
Index: 236 entries, 1 to 236
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ID NOTA      236 non-null    object
 1   DATA NOTA    236 non-null    datetime64[ns]
 2   VALOR NOTA   236 non-null    float64
 3   VALOR ITEM   236 non-null    float64
 4   QTD ITEM     236 non-null    int64
 5   ID PRODUTO   236 non-null    object
 6   ID CLIENTE   236 non-null    object
 7   ANO_MES      236 non-null    period[M]
 8   VALOR_TOTAL  236 non-null    float64
dtypes: datetime64[ns](1), float64(3), int64(1), object(3), period[M](1)
memory usage: 18.4+ KB
None

In [ ]:
# Merge com a categoria do produto
df_vendas_categorias = pd.merge(
    df_vendas,
    df_produtos[['ID PRODUTO', 'CATEGORIA']],
    on='ID PRODUTO',
    how='left'
)

print("\n--- Vendas com Categoria ---")
print(df_vendas_categorias.head())
print(df_vendas_categorias.info())

--- Vendas com Categoria ---
  ID NOTA  DATA NOTA  VALOR NOTA  VALOR ITEM  QTD ITEM ID PRODUTO ID CLIENTE  \
0    3001 2023-03-05      4299.9      4299.9         1       1001       2015
1    3002 2023-03-12      5798.9      3899.0         1       1002       2003
2    3002 2023-03-12      5798.9      1899.0         1       1013       2003
3    3003 2023-03-18      1028.8       129.9         1       1006       2028
4    3003 2023-03-18      1028.8       899.5         1       1003       2028

   ANO_MES  VALOR_TOTAL    CATEGORIA
0  2023-03       4299.9  Eletrônicos
1  2023-03       3899.0  Eletrônicos
2  2023-03       1899.0       Móveis
3  2023-03        129.9  Eletrônicos
4  2023-03        899.5       Móveis
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 236 entries, 0 to 235
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ID NOTA      236 non-null    object
 1   DATA NOTA    236 non-null    datetime64[ns]
 2   VALOR NOTA   236 non-null    float64
 3   VALOR ITEM   236 non-null    float64
 4   QTD ITEM     236 non-null    int64
 5   ID PRODUTO   236 non-null    object
 6   ID CLIENTE   236 non-null    object
 7   ANO_MES      236 non-null    period[M]
 8   VALOR_TOTAL  236 non-null    float64
 9   CATEGORIA    236 non-null    object
dtypes: datetime64[ns](1), float64(3), int64(1), object(4), period[M](1)
memory usage: 18.6+ KB
None

In [ ]:
# Agrupar por categoria e mês, calcular média do valor total vendido
media_valor_categoria_mes = df_vendas_categorias.groupby(['CATEGORIA', 'ANO_MES'])['VALOR_TOTAL'].mean().reset_index()

# Ordenar para melhor visualização
media_valor_categoria_mes = media_valor_categoria_mes.sort_values(['ANO_MES', 'CATEGORIA']).round(2)

# Exibir resultado
print("\n--- Média de Valor de Venda por Categoria por Mês ---")
print(media_valor_categoria_mes.head(20))

--- Média de Valor de Venda por Categoria por Mês ---
      CATEGORIA  ANO_MES  VALOR_TOTAL
0   Eletrônicos  2023-03      2045.68
47       Móveis  2023-03      1798.83
1   Eletrônicos  2023-04      1796.42
34       Livros  2023-04       999.90
48       Móveis  2023-04      2065.33
65    Papelaria  2023-04        19.90
2   Eletrônicos  2023-05      1749.62
18  Ferramentas  2023-05       639.90
49       Móveis  2023-05      1423.88
66    Papelaria  2023-05        19.90
3   Eletrônicos  2023-06       855.82
19  Ferramentas  2023-06       639.90
35       Livros  2023-06       999.90
50       Móveis  2023-06      1419.00
67    Papelaria  2023-06        19.90
4   Eletrônicos  2023-07       854.83
20  Ferramentas  2023-07       639.90
36       Livros  2023-07       999.90
51       Móveis  2023-07      1424.00
68    Papelaria  2023-07        19.90

Média de Valor de Venda por Categoria de Produto por Mês
Análise de Tendências por Categoria:
Eletrônicos: A categoria de Eletrônicos apresenta uma variação interessante no valor médio de vendas ao longo dos meses. Embora em março de 2023 tenha sido de 2.045,68, ela caiu para R$ 1.796,42 em abril, mas depois se estabilizou em torno de  1.749,62 até junho de 2023. Isso pode indicar que, embora o volume de vendas varie, os produtos eletrônicos continuam sendo uma parte significativa das vendas, mas o preço médio pode estar sendo ajustado para se adaptar à demanda ou à concorrência.

Móveis: Móveis, por sua vez, apresentam uma flutuação mais pronunciada, com a média de valor de venda subindo de 1.798,83 em março para  2.065,33 em abril, e depois voltando para valores mais baixos como  1.423,88 em maio e  1.419,00 em junho. Isso pode sugerir uma resposta de mercado sazonal, com um pico de vendas em abril, seguido por uma queda.

Livros: A categoria de Livros parece ter uma média de valor constante, variando em torno de R$ 999,90 durante o período analisado. Isso indica que, embora os livros tenham uma boa aceitação, suas vendas são relativamente consistentes e sem grandes variações de preço.

Ferramentas e Papelaria: Ferramentas e Papelaria têm valores de venda médios bem baixos e constantes, sugerindo que, embora possam ser produtos vendidos com regularidade, o ticket médio desses itens é significativamente menor.

Estratégias Baseadas na Análise:
Focar em Eletrônicos: Como a categoria de Eletrônicos gera um valor médio de venda mais alto, é importante focar em promoções e campanhas de fidelização para continuar impulsionando essas vendas. Estratégias como bundles (pacotes) e descontos sazonais podem ser interessantes.

Oportunidade de Crescimento para Móveis: A categoria de Móveis tem mostrado uma boa média de valor de venda, mas parece ter sazonalidade. Explorar o aumento das vendas durante os meses de pico (como abril) e promover ofertas nos meses de baixa demanda pode ajudar a manter um fluxo constante.

Ajustar Promoções para Livros e Ferramentas: Com um valor de venda médio mais estável e baixo, pode ser interessante promover livros e ferramentas por meio de descontos ou pacotes para aumentar o volume de vendas e atrair mais clientes.

Pergunta Possível:
"Como podemos aumentar o valor de venda das categorias de baixo desempenho, como Ferramentas e Papelaria, enquanto mantemos a competitividade e a atração dos produtos de maior valor, como Eletrônicos e Móveis?"

Justificativa:
Analisando as categorias com maior e menor valor de venda, podemos direcionar campanhas específicas para aumentar o ticket médio de categorias com desempenho mais baixo e, ao mesmo tempo, fortalecer a fidelidade dos consumidores nas categorias de alto valor

#8. Calcule um ranking de margem de lucro por categoria

In [ ]:
print("\n--- Vendas ---")
print(df_vendas_com_estoque)

--- Vendas ---
    ID NOTA  DATA NOTA  VALOR NOTA  VALOR ITEM  QTD ITEM ID PRODUTO  \
0      3001 2023-03-05      4299.9      4299.9         1       1001
1      3002 2023-03-12      5798.9      3899.0         1       1002
2      3002 2023-03-12      5798.9      1899.0         1       1013
3      3003 2023-03-18      1028.8       129.9         1       1006
4      3003 2023-03-18      1028.8       899.5         1       1003
..      ...        ...         ...         ...       ...        ...
231    3148 2024-08-16      1768.8       849.9         1       1005
232    3148 2024-08-16      1768.8        19.9         1       1036
233    3149 2024-08-20      1049.7       349.9         3       1009
234    3150 2024-08-23      1129.8       129.9         1       1006
235    3150 2024-08-23      1129.8       999.9         1       1033

    ID CLIENTE ID ESTOQUE  CUSTO_UNIT  MARGEM_UNIT  MARGEM_TOTAL
0         2015       5001     3439.92       859.98        859.98
1         2003       5002     3119.20       779.80        779.80
2         2003       5013     1519.20       379.80        379.80
3         2028       5006      103.92        25.98         25.98
4         2028       5003      719.60       179.90        179.90
..         ...        ...         ...          ...           ...
231       2029       5005      679.92       169.98        169.98
232       2029       5036       15.92         3.98          3.98
233       2018       5009      279.92        69.98        209.94
234       2033       5006      103.92        25.98         25.98
235       2033       5033       79.92       919.98        919.98

[236 rows x 11 columns]

In [ ]:
# Juntar categoria dos produtos
df_vendas_com_categoria = pd.merge(
    df_vendas_com_estoque,
    df_produtos[['ID PRODUTO', 'CATEGORIA']],
    on='ID PRODUTO',
    how='left'
)

print("\n--- Vendas com Categoria ---")
print(df_vendas_com_categoria.head())
print(df_vendas_com_categoria.info())

--- Vendas com Categoria ---
  ID NOTA  DATA NOTA  VALOR NOTA  VALOR ITEM  QTD ITEM ID PRODUTO ID CLIENTE  \
0    3001 2023-03-05      4299.9      4299.9         1       1001       2015
1    3002 2023-03-12      5798.9      3899.0         1       1002       2003
2    3002 2023-03-12      5798.9      1899.0         1       1013       2003
3    3003 2023-03-18      1028.8       129.9         1       1006       2028
4    3003 2023-03-18      1028.8       899.5         1       1003       2028

  ID ESTOQUE  CUSTO_UNIT  MARGEM_UNIT  MARGEM_TOTAL    CATEGORIA
0       5001     3439.92       859.98        859.98  Eletrônicos
1       5002     3119.20       779.80        779.80  Eletrônicos
2       5013     1519.20       379.80        379.80       Móveis
3       5006      103.92        25.98         25.98  Eletrônicos
4       5003      719.60       179.90        179.90       Móveis
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 236 entries, 0 to 235
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID NOTA       236 non-null    object
 1   DATA NOTA     236 non-null    datetime64[ns]
 2   VALOR NOTA    236 non-null    float64
 3   VALOR ITEM    236 non-null    float64
 4   QTD ITEM      236 non-null    int64
 5   ID PRODUTO    236 non-null    object
 6   ID CLIENTE    236 non-null    object
 7   ID ESTOQUE    236 non-null    object
 8   CUSTO_UNIT    236 non-null    float64
 9   MARGEM_UNIT   236 non-null    float64
 10  MARGEM_TOTAL  236 non-null    float64
 11  CATEGORIA     236 non-null    object
dtypes: datetime64[ns](1), float64(5), int64(1), object(5)
memory usage: 22.3+ KB
None

In [ ]:
# Agrupar por categoria somando margem total
margem_por_categoria = df_vendas_com_categoria.groupby('CATEGORIA')['MARGEM_TOTAL'].sum().reset_index()

# Ordenar do maior para o menor lucro
margem_por_categoria = margem_por_categoria.sort_values(by='MARGEM_TOTAL', ascending=False)

print("\n--- Ranking de Margem de Lucro por Categoria ---")
print(margem_por_categoria)

--- Ranking de Margem de Lucro por Categoria ---
     CATEGORIA  MARGEM_TOTAL
3       Móveis      28162.00
0  Eletrônicos      19280.62
2       Livros      11959.74
1  Ferramentas       6807.54
4    Papelaria         95.52

Ranking de Margem de Lucro por Categoria
A análise de margem de lucro por categoria de produto revela algumas tendências importantes para otimização de estratégias de vendas e precificação.

Principais Conclusões:
Móveis: A categoria de Móveis lidera o ranking com uma margem total de R$ 28.162,00. Isso sugere que, apesar do valor de venda ser mais baixo do que os produtos de Eletrônicos, a margem de lucro para os produtos da categoria Móveis é significativamente maior. Pode ser interessante explorar estratégias de promoção para aumentar ainda mais as vendas dessa categoria, dado o bom retorno financeiro.

Eletrônicos: Embora Eletrônicos tenha um valor de venda médio mais alto, com um total de R$ 19.280,62 em margem de lucro, ela fica atrás de Móveis. No entanto, devido à alta demanda e valor agregado, estratégias de fidelização de clientes nessa categoria podem trazer benefícios significativos. Produtos eletrônicos costumam ter uma margem relativamente menor devido ao custo mais elevado, mas sua popularidade compensa.

Livros: A categoria de Livros também se destaca, com uma margem de R$ 11.959,74. Embora a margem de lucro não seja tão alta quanto Móveis ou Eletrônicos, ela ainda é significativa, o que indica que há uma boa demanda para livros e que as estratégias de marketing podem ser focadas para aproveitar esse nicho de mercado.

Ferramentas: A categoria de Ferramentas, com uma margem de R$ 6.807,54, parece ter uma boa aceitação no mercado, mas pode ser considerada uma categoria de nicho. Estratégias como pacotes ou promoções podem ser eficazes para impulsionar as vendas.

Papelaria: A categoria de Papelaria apresenta a menor margem de lucro (R$ 95,52). Isso pode indicar uma baixa rentabilidade, possivelmente devido ao custo de produção ou preço de venda baixo. Pode ser uma boa estratégia aumentar a quantidade vendida ou revisar os preços de venda para melhorar a margem.

Estratégias Recomendadas:
Focar em Móveis e Eletrônicos: Dado o alto lucro da categoria de Móveis, enquanto Eletrônicos também geram margens consideráveis, ambas devem ser priorizadas em campanhas de marketing. Além disso, explorar promoções para aumentar o volume de vendas nessas categorias pode ser uma boa abordagem.

Potencial de Crescimento em Livros: Com uma margem de lucro significativa, Livros é uma categoria com alto potencial de crescimento. Investir em ofertas, kits ou até mesmo eventos de lançamento pode aumentar ainda mais as vendas nessa categoria.

Atenção à Papelaria: Para a categoria de Papelaria, deve-se revisar a estratégia de preços ou buscar aumentar a quantidade de vendas para melhorar a rentabilidade. Avaliar a possibilidade de pacotes promocionais pode ajudar a impulsionar as vendas.

Pergunta Possível:
"Como podemos maximizar a rentabilidade das categorias com menor margem, como Papelaria, enquanto mantemos a competitividade nas categorias mais lucrativas, como Móveis e Eletrônicos?"

Justificativa:
Analisando as margens de lucro por categoria, é possível desenvolver estratégias que maximizem a rentabilidade das categorias mais lucrativas, enquanto se busca aumentar a eficiência e rentabilidade das categorias com menores margens. Isso pode ser feito ajustando estratégias de precificação, pacotes promocionais ou campanhas de fidelização.

#9.Liste produtos comprados por clientes

---

In [ ]:
print("\n--- Vendas com Nomes de Produtos ---")
print(df_vendas_produtos.head())

--- Vendas com Nomes de Produtos ---
  ID NOTA  DATA NOTA  VALOR NOTA  VALOR ITEM  QTD ITEM ID PRODUTO ID CLIENTE  \
0    3001 2023-03-05      4299.9      4299.9         1       1001       2015
1    3002 2023-03-12      5798.9      3899.0         1       1002       2003
2    3002 2023-03-12      5798.9      1899.0         1       1013       2003
3    3003 2023-03-18      1028.8       129.9         1       1006       2028
4    3003 2023-03-18      1028.8       899.5         1       1003       2028

   ANO_MES  VALOR_TOTAL           NOME PRODUTO
0  2023-03       4299.9     Notebook EliteBook
1  2023-03       3899.0  Smartphone Galaxy S23
2  2023-03       1899.0         Armário de Aço
3  2023-03        129.9        Teclado Sem Fio
4  2023-03        899.5     Mesa de Escritório

In [ ]:
# Agrupar por cliente, agregando produtos únicos comprados
produtos_por_cliente = (
    df_vendas_produtos.groupby('ID CLIENTE')['NOME PRODUTO']
    .apply(lambda x: sorted(x.unique()))
    .reset_index()
)

# Exibir os primeiros resultados
print("\n--- Produtos Comprados por Clientes ---")
print(produtos_por_cliente)

--- Produtos Comprados por Clientes ---
    ID CLIENTE                                       NOME PRODUTO
0         1023                                   [Serra Elétrica]
1         2001  [Cadeira Ergonômica, Grampeador, Mesa de Escri...
2         2002  [Cadeira Ergonômica, Mesa de Escritório, Serra...
3         2003  [Armário de Aço, Cadeira Ergonômica, Estante e...
4         2004  [Cadeira Ergonômica, Grampeador, HD Externo 1T...
5         2005  [Cadeira Ergonômica, Grampeador, HD Externo 1T...
6         2006  [Cadeira Ergonômica, Estante em Madeira, Gramp...
7         2007  [Cadeira Ergonômica, Estante em Madeira, Gramp...
8         2008  [Cadeira Ergonômica, Grampeador, Mesa de Escri...
9         2009  [Cadeira Ergonômica, Estante em Madeira, Gramp...
10        2010  [Grampeador, HD Externo 1TB, Mesa de Escritóri...
11        2011  [Cadeira Ergonômica, HD Externo 1TB, Mesa de E...
12        2012               [Cadeira Ergonômica, Serra Elétrica]
13        2013  [Livro: Python para Iniciantes, Mesa de Escrit...
14        2014                       [HD Externo 1TB, Tablet 10"]
15        2015  [Cadeira Ergonômica, HD Externo 1TB, Notebook ...
16        2016               [HD Externo 1TB, Mesa de Escritório]
17        2017  [Grampeador, HD Externo 1TB, Mesa de Escritóri...
18        2018  [Cadeira Ergonômica, HD Externo 1TB, Serra Elé...
19        2019   [Cadeira Ergonômica, HD Externo 1TB, Tablet 10"]
20        2020  [Cadeira Ergonômica, Grampeador, HD Externo 1T...
21        2021  [Cadeira Ergonômica, Grampeador, Livro: Python...
22        2022  [Cadeira Ergonômica, Notebook EliteBook, Serra...
23        2023  [Grampeador, HD Externo 1TB, Mesa de Escritóri...
24        2024  [Estante em Madeira, Grampeador, Livro: Python...
25        2025  [Grampeador, Mesa de Escritório, Monitor 24" F...
26        2026  [Cadeira Ergonômica, Grampeador, HD Externo 1T...
27        2027  [Cadeira Ergonômica, Grampeador, HD Externo 1T...
28        2028  [Cadeira Ergonômica, HD Externo 1TB, Mesa de E...
29        2029  [Estante em Madeira, Grampeador, Livro: Python...
30        2030  [Cadeira Ergonômica, Grampeador, HD Externo 1T...
31        2031  [Cadeira Ergonômica, Grampeador, HD Externo 1T...
32        2032  [Estante em Madeira, Livro: Python para Inicia...
33        2033  [Cadeira Ergonômica, HD Externo 1TB, Livro: Py...
34        2034  [Estante em Madeira, Livro: Python para Inicia...
35        2035  [Cadeira Ergonômica, Livro: Python para Inicia...
36        2036  [Cadeira Ergonômica, Estante em Madeira, Livro...
37        2037  [Cadeira Ergonômica, Grampeador, Livro: Python...
38        2038                                       [Tablet 10"]
39        2039                   [Estante em Madeira, Tablet 10"]

In [ ]:
# Ajustar a visualização para mostrar todas as linhas
pd.set_option('display.max_colwidth', None)  # Remove truncamento da coluna de texto

# Concatenar os produtos em uma string para cada cliente
produtos_por_cliente['NOME PRODUTO'] = produtos_por_cliente['NOME PRODUTO'].apply(lambda x: ', '.join(x))

# Exibir o DataFrame completo
print("\n--- Produtos Comprados por Clientes ---")
print(produtos_por_cliente)

--- Produtos Comprados por Clientes ---
    ID CLIENTE  \
0         1023
1         2001
2         2002
3         2003
4         2004
5         2005
6         2006
7         2007
8         2008
9         2009
10        2010
11        2011
12        2012
13        2013
14        2014
15        2015
16        2016
17        2017
18        2018
19        2019
20        2020
21        2021
22        2022
23        2023
24        2024
25        2025
26        2026
27        2027
28        2028
29        2029
30        2030
31        2031
32        2032
33        2033
34        2034
35        2035
36        2036
37        2037
38        2038
39        2039

                                                                                                                                               NOME PRODUTO
0                                                                                                                                            Serra Elétrica
1                                                                   Cadeira Ergonômica, Grampeador, Mesa de Escritório, Monitor 24" Full HD, Serra Elétrica
2                                                                                                    Cadeira Ergonômica, Mesa de Escritório, Serra Elétrica
3                                                                             Armário de Aço, Cadeira Ergonômica, Estante em Madeira, Smartphone Galaxy S23
4                                                                   Cadeira Ergonômica, Grampeador, HD Externo 1TB, Mesa de Escritório, Monitor 24" Full HD
5                                                   Cadeira Ergonômica, Grampeador, HD Externo 1TB, Mesa de Escritório, Monitor 24" Full HD, Serra Elétrica
6                                               Cadeira Ergonômica, Estante em Madeira, Grampeador, Mesa de Escritório, Monitor 24" Full HD, Serra Elétrica
7                               Cadeira Ergonômica, Estante em Madeira, Grampeador, HD Externo 1TB, Mesa de Escritório, Monitor 24" Full HD, Serra Elétrica
8                                                                   Cadeira Ergonômica, Grampeador, Mesa de Escritório, Monitor 24" Full HD, Serra Elétrica
9                                                               Cadeira Ergonômica, Estante em Madeira, Grampeador, Mesa de Escritório, Monitor 24" Full HD
10                                                                          Grampeador, HD Externo 1TB, Mesa de Escritório, Monitor 24" Full HD, Tablet 10"
11                                                                                                   Cadeira Ergonômica, HD Externo 1TB, Mesa de Escritório
12                                                                                                                       Cadeira Ergonômica, Serra Elétrica
13                                                                                       Livro: Python para Iniciantes, Mesa de Escritório, Teclado Sem Fio
14                                                                                                                               HD Externo 1TB, Tablet 10"
15                                                                                                   Cadeira Ergonômica, HD Externo 1TB, Notebook EliteBook
16                                                                                                                       HD Externo 1TB, Mesa de Escritório
17                                                                          Grampeador, HD Externo 1TB, Mesa de Escritório, Monitor 24" Full HD, Tablet 10"
18                                                                                           Cadeira Ergonômica, HD Externo 1TB, Serra Elétrica, Tablet 10"
19                                                                                                           Cadeira Ergonômica, HD Externo 1TB, Tablet 10"
20                             Cadeira Ergonômica, Grampeador, HD Externo 1TB, Headphone Bluetooth, Mesa de Escritório, Monitor 24" Full HD, Serra Elétrica
21      Cadeira Ergonômica, Grampeador, Livro: Python para Iniciantes, Mesa de Escritório, Monitor 24" Full HD, Serra Elétrica, Tablet 10", Teclado Sem Fio
22                                                                                       Cadeira Ergonômica, Notebook EliteBook, Serra Elétrica, Tablet 10"
23                                                                                      Grampeador, HD Externo 1TB, Mesa de Escritório, Monitor 24" Full HD
24                      Estante em Madeira, Grampeador, Livro: Python para Iniciantes, Mesa de Escritório, Monitor 24" Full HD, Tablet 10", Teclado Sem Fio
25                                                                   Grampeador, Mesa de Escritório, Monitor 24" Full HD, Smartphone Galaxy S23, Tablet 10"
26                                                                  Cadeira Ergonômica, Grampeador, HD Externo 1TB, Mesa de Escritório, Monitor 24" Full HD
27               Cadeira Ergonômica, Grampeador, HD Externo 1TB, Mesa de Escritório, Monitor 24" Full HD, Serra Elétrica, Smartphone Galaxy S23, Tablet 10"
28                                                                  Cadeira Ergonômica, HD Externo 1TB, Mesa de Escritório, Serra Elétrica, Teclado Sem Fio
29                      Estante em Madeira, Grampeador, Livro: Python para Iniciantes, Mesa de Escritório, Monitor 24" Full HD, Tablet 10", Teclado Sem Fio
30  Cadeira Ergonômica, Grampeador, HD Externo 1TB, Livro: Python para Iniciantes, Mesa de Escritório, Monitor 24" Full HD, Serra Elétrica, Teclado Sem Fio
31                                                  Cadeira Ergonômica, Grampeador, HD Externo 1TB, Mesa de Escritório, Monitor 24" Full HD, Serra Elétrica
32                                                                                       Estante em Madeira, Livro: Python para Iniciantes, Teclado Sem Fio
33                                           Cadeira Ergonômica, HD Externo 1TB, Livro: Python para Iniciantes, Serra Elétrica, Tablet 10", Teclado Sem Fio
34                                                                           Estante em Madeira, Livro: Python para Iniciantes, Tablet 10", Teclado Sem Fio
35                                                           Cadeira Ergonômica, Livro: Python para Iniciantes, Serra Elétrica, Tablet 10", Teclado Sem Fio
36                                       Cadeira Ergonômica, Estante em Madeira, Livro: Python para Iniciantes, Serra Elétrica, Tablet 10", Teclado Sem Fio
37                  Cadeira Ergonômica, Grampeador, Livro: Python para Iniciantes, Mesa de Escritório, Monitor 24" Full HD, Serra Elétrica, Teclado Sem Fio
38                                                                                                                                               Tablet 10"
39                                                                                                                           Estante em Madeira, Tablet 10"

A tabela mostra os produtos comprados por clientes, com a listagem de diversos itens adquiridos por cada cliente. Alguns clientes compraram um número diversificado de produtos, enquanto outros compraram itens específicos.

O que podemos concluir:
Variedade de Compras: Muitos clientes compraram uma combinação de produtos, como "Cadeira Ergonômica" e "Mesa de Escritório", o que indica que esses itens podem ser frequentemente comprados juntos, possivelmente como parte de pacotes ou categorias relacionadas (ex: escritório, móveis). Isso sugere que estratégias de vendas como kits ou promoções podem ser eficazes.

Produtos Mais Populares: Produtos como "Cadeira Ergonômica", "HD Externo 1TB", "Mesa de Escritório" e "Grampeador" aparecem em muitas compras, indicando que esses itens têm uma alta demanda. Isso pode ser útil para planejar estoques e focar em estratégias de marketing direcionadas a esses produtos.

Produtos Menos Vendidos: Produtos como "Tablet 10" aparecem de forma isolada ou em poucas compras. Isso pode indicar que esses itens têm uma demanda mais baixa ou são comprados de forma esporádica, o que pode exigir uma análise mais profunda sobre o preço, promoção ou até mesmo a necessidade de aumentar a visibilidade desses produtos.

Padrões de Compra: A diversidade de produtos adquiridos por alguns clientes mostra que eles têm uma variedade de interesses ou necessidades. Isso abre a possibilidade de personalizar promoções e estratégias de marketing, oferecendo produtos complementares ou descontos baseados em comportamentos de compra anteriores.

Pergunta que pode ser formulada:
"Como podemos aumentar a frequência de compras para clientes que adquirem produtos específicos e aumentar a visibilidade de produtos de baixa venda?"

Essa pergunta visa explorar como otimizar as estratégias de marketing, aproveitando tanto os produtos populares quanto os menos vendidos.

#10.Ranking de produtos por quantidade de estoque

In [ ]:
# --- Cadastro Produtos ---
df_produtos = pd.read_excel(arquivo, sheet_name="Cadastro Produtos", header=0)

# Ajustar nomes das colunas para facilitar o trabalho
df_produtos.columns = ['ID PRODUTO', 'ID ESTOQUE', 'NOME PRODUTO', 'CATEGORIA']
# # Remover linhas duplicadas
df_produtos = df_produtos[df_produtos['ID PRODUTO'] != 'ID PRODUTO'].copy()

# --- Cadastro Estoque ---
df_estoque = pd.read_excel(arquivo, sheet_name="Cadastro de Estoque", header=0)

# Renomear colunas
df_estoque.columns = ['ID ESTOQUE', 'VALOR ESTOQUE', 'QTD ESTOQUE', 'DATA ESTOQUE', 'ID FORNECEDOR']
# Remover linha duplicada do cabeçalho se existir
df_estoque = df_estoque[df_estoque['ID ESTOQUE'] != 'ID ESTOQUE'].copy()

# Converter colunas para os tipos corretos
df_estoque['VALOR ESTOQUE'] = pd.to_numeric(df_estoque['VALOR ESTOQUE'], errors='coerce').astype(float)
df_estoque['QTD ESTOQUE'] = pd.to_numeric(df_estoque['QTD ESTOQUE'], errors='coerce')
df_estoque['DATA ESTOQUE'] = pd.to_datetime(df_estoque['DATA ESTOQUE'], errors='coerce')


# --- Transações Vendas ---
df_vendas = pd.read_excel(arquivo, sheet_name="Transações Vendas", header=0)

# Renomear colunas
df_vendas.columns = ['ID NOTA', 'DATA NOTA', 'VALOR NOTA', 'VALOR ITEM', 'QTD ITEM', 'ID PRODUTO', 'ID CLIENTE']

# Remover linha duplicada do cabeçalho se existir
df_vendas = df_vendas[df_vendas['ID NOTA'] != 'ID NOTA'].copy()

# Converter tipos das colunas numéricas e datas
for col in ['VALOR NOTA', 'VALOR ITEM', 'QTD ITEM']:
    df_vendas[col] = pd.to_numeric(df_vendas[col], errors='coerce')

df_vendas['DATA NOTA'] = pd.to_datetime(df_vendas['DATA NOTA'], errors='coerce')

# Garantir que IDs sejam strings para merges corretos
df_vendas['ID PRODUTO'] = df_vendas['ID PRODUTO'].astype(str)
df_estoque['ID ESTOQUE'] = df_estoque['ID ESTOQUE'].astype(str)
df_produtos['ID PRODUTO'] = df_produtos['ID PRODUTO'].astype(str)
df_produtos['ID ESTOQUE'] = df_produtos['ID ESTOQUE'].astype(str)

In [ ]:
df_vendas = pd.merge(
    df_vendas,
    df_produtos[['ID PRODUTO', 'ID ESTOQUE', 'NOME PRODUTO']],
    on='ID PRODUTO',
    how='left'
)

print(df_vendas.head())

  ID NOTA  DATA NOTA  VALOR NOTA  VALOR ITEM  QTD ITEM ID PRODUTO ID CLIENTE  \
0    3001 2023-03-05      4299.9      4299.9         1       1001       2015
1    3002 2023-03-12      5798.9      3899.0         1       1002       2003
2    3002 2023-03-12      5798.9      1899.0         1       1013       2003
3    3003 2023-03-18      1028.8       129.9         1       1006       2028
4    3003 2023-03-18      1028.8       899.5         1       1003       2028

  ID ESTOQUE           NOME PRODUTO
0       5001     Notebook EliteBook
1       5002  Smartphone Galaxy S23
2       5013         Armário de Aço
3       5006        Teclado Sem Fio
4       5003     Mesa de Escritório

In [ ]:
# Agrupar vendas por ID ESTOQUE (total vendido por estoque)
vendas_por_estoque = df_vendas.groupby('ID ESTOQUE')['QTD ITEM'].sum().reset_index()

print("\n--- Vendas por Estoque ---")
print(vendas_por_estoque)

--- Vendas por Estoque ---
   ID ESTOQUE  QTD ITEM
0        5001         2
1        5002         3
2        5003        58
3        5004        49
4        5005        25
5        5006        14
6        5009        75
7        5011         1
8        5012        11
9        5013         1
10       5023        23
11       5033        13
12       5036        24
13       5039        22

In [ ]:
# Merge do estoque com as vendas para trazer a coluna QTD ITEM (quantidade vendida)
df_estoque_vendas = pd.merge(
    df_estoque,
    vendas_por_estoque,
    on='ID ESTOQUE',
    how='left'
)

# Preencher NaN na coluna QTD ITEM com 0 (estoques sem venda)
df_estoque_vendas['QTD ITEM'] = df_estoque_vendas['QTD ITEM'].fillna(0).astype(int)

# Calcular estoque atualizado (quantidade atual - vendida)
df_estoque_vendas['QTD ESTOQUE ATUALIZADO'] = df_estoque_vendas['QTD ESTOQUE'] - df_estoque_vendas['QTD ITEM']

# Evitar valores negativos, se desejar
df_estoque_vendas['QTD ESTOQUE ATUALIZADO'] = df_estoque_vendas['QTD ESTOQUE ATUALIZADO']

# Mostrar resultado
print(df_estoque_vendas[['ID ESTOQUE', 'QTD ESTOQUE', 'QTD ITEM', 'QTD ESTOQUE ATUALIZADO']])

   ID ESTOQUE  QTD ESTOQUE  QTD ITEM  QTD ESTOQUE ATUALIZADO
0        5001           50         2                      48
1        5002           40         3                      37
2        5003           50        58                      -8
3        5004           50        49                       1
4        5005           50        25                      25
5        5006          100        14                      86
6        5007          100         0                     100
7        5008           50         0                      50
8        5009           50        75                     -25
9        5010           50         0                      50
10       5011           50         1                      49
11       5012           50        11                      39
12       5013           50         1                      49
13       5014          100         0                     100
14       5015           50         0                      50
15       5016           50         0                      50
16       5017           50         0                      50
17       5018           50         0                      50
18       5019           50         0                      50
19       5020           50         0                      50
20       5021           50         0                      50
21       5022           50         0                      50
22       5023           50        23                      27
23       5024           50         0                      50
24       5025           50         0                      50
25       5026           50         0                      50
26       5027           50         0                      50
27       5028           50         0                      50
28       5029           50         0                      50
29       5030           50         0                      50
30       5031           50         0                      50
31       5032           50         0                      50
32       5033           50        13                      37
33       5034           50         0                      50
34       5035           50         0                      50
35       5036           50        24                      26
36       5037           50         0                      50
37       5038           50         0                      50
38       5039           50        22                      28
39       5040           50         0                      50

In [ ]:
# Juntar o nome do produto no df_estoque_vendas
df_estoque_vendas = pd.merge(
    df_estoque_vendas,
    df_produtos[['ID ESTOQUE', 'NOME PRODUTO']],
    on='ID ESTOQUE',
    how='left'
)

# Mostrar resultado com nome do produto
print(df_estoque_vendas[['ID ESTOQUE', 'NOME PRODUTO', 'QTD ESTOQUE', 'QTD ITEM', 'QTD ESTOQUE ATUALIZADO']])

   ID ESTOQUE                   NOME PRODUTO  QTD ESTOQUE  QTD ITEM  \
0        5001             Notebook EliteBook           50         2
1        5002          Smartphone Galaxy S23           40         3
2        5003             Mesa de Escritório           50        58
3        5004             Cadeira Ergonômica           50        49
4        5005            Monitor 24" Full HD           50        25
5        5006                Teclado Sem Fio          100        14
6        5007                    Mouse Gamer          100         0
7        5008      Impressora Multifuncional           50         0
8        5009                 HD Externo 1TB           50        75
9        5010                 Webcam Full HD           50         0
10       5011            Headphone Bluetooth           50         1
11       5012             Estante em Madeira           50        11
12       5013                 Armário de Aço           50         1
13       5014              Luminária de Mesa          100         0
14       5015              Quadro Decorativo           50         0
15       5016              Tapete Retangular           50         0
16       5017             Cafeteira Elétrica           50         0
17       5018             Ventilador de Mesa           50         0
18       5019                 Liquidificador           50         0
19       5020                Ferro de Passar           50         0
20       5021                  Furadeira 12V           50         0
21       5022                 Jogo de Chaves           50         0
22       5023                 Serra Elétrica           50        23
23       5024                    Kit Pincéis           50         0
24       5025          Mochila para Notebook           50         0
25       5026           Suporte para Monitor           50         0
26       5027           Organizador de Cabos           50         0
27       5028            Carregador Portátil           50         0
28       5029         Fone de Ouvido com Fio           50         0
29       5030                Adaptador USB-C           50         0
30       5031      Livro: Gestão de Projetos           50         0
31       5032       Livro: Marketing Digital           50         0
32       5033  Livro: Python para Iniciantes           50        13
33       5034           Caneta Esferográfica           50         0
34       5035          Caderno Universitário           50         0
35       5036                     Grampeador           50        24
36       5037         Calculadora Financeira           50         0
37       5038              Roteador Wi-Fi 5G           50         0
38       5039                     Tablet 10"           50        22
39       5040                     Smartwatch           50         0

    QTD ESTOQUE ATUALIZADO
0                       48
1                       37
2                       -8
3                        1
4                       25
5                       86
6                      100
7                       50
8                      -25
9                       50
10                      49
11                      39
12                      49
13                     100
14                      50
15                      50
16                      50
17                      50
18                      50
19                      50
20                      50
21                      50
22                      27
23                      50
24                      50
25                      50
26                      50
27                      50
28                      50
29                      50
30                      50
31                      50
32                      37
33                      50
34                      50
35                      26
36                      50
37                      50
38                      28
39                      50

In [ ]:
df_estoque_vendas_ordenado = df_estoque_vendas.sort_values(by='QTD ESTOQUE ATUALIZADO', ascending=False)

print(df_estoque_vendas_ordenado[['ID ESTOQUE', 'NOME PRODUTO', 'QTD ESTOQUE', 'QTD ITEM', 'QTD ESTOQUE ATUALIZADO']])

   ID ESTOQUE                   NOME PRODUTO  QTD ESTOQUE  QTD ITEM  \
6        5007                    Mouse Gamer          100         0
13       5014              Luminária de Mesa          100         0
5        5006                Teclado Sem Fio          100        14
7        5008      Impressora Multifuncional           50         0
15       5016              Tapete Retangular           50         0
14       5015              Quadro Decorativo           50         0
9        5010                 Webcam Full HD           50         0
19       5020                Ferro de Passar           50         0
33       5034           Caneta Esferográfica           50         0
34       5035          Caderno Universitário           50         0
37       5038              Roteador Wi-Fi 5G           50         0
36       5037         Calculadora Financeira           50         0
39       5040                     Smartwatch           50         0
18       5019                 Liquidificador           50         0
17       5018             Ventilador de Mesa           50         0
16       5017             Cafeteira Elétrica           50         0
20       5021                  Furadeira 12V           50         0
21       5022                 Jogo de Chaves           50         0
23       5024                    Kit Pincéis           50         0
28       5029         Fone de Ouvido com Fio           50         0
27       5028            Carregador Portátil           50         0
26       5027           Organizador de Cabos           50         0
25       5026           Suporte para Monitor           50         0
24       5025          Mochila para Notebook           50         0
30       5031      Livro: Gestão de Projetos           50         0
29       5030                Adaptador USB-C           50         0
31       5032       Livro: Marketing Digital           50         0
10       5011            Headphone Bluetooth           50         1
12       5013                 Armário de Aço           50         1
0        5001             Notebook EliteBook           50         2
11       5012             Estante em Madeira           50        11
1        5002          Smartphone Galaxy S23           40         3
32       5033  Livro: Python para Iniciantes           50        13
38       5039                     Tablet 10"           50        22
22       5023                 Serra Elétrica           50        23
35       5036                     Grampeador           50        24
4        5005            Monitor 24" Full HD           50        25
3        5004             Cadeira Ergonômica           50        49
2        5003             Mesa de Escritório           50        58
8        5009                 HD Externo 1TB           50        75

    QTD ESTOQUE ATUALIZADO
6                      100
13                     100
5                       86
7                       50
15                      50
14                      50
9                       50
19                      50
33                      50
34                      50
37                      50
36                      50
39                      50
18                      50
17                      50
16                      50
20                      50
21                      50
23                      50
28                      50
27                      50
26                      50
25                      50
24                      50
30                      50
29                      50
31                      50
10                      49
12                      49
0                       48
11                      39
1                       37
32                      37
38                      28
22                      27
35                      26
4                       25
3                        1
2                       -8
8                      -25

O Estoque Parado
Com base nos dados apresentados, a empresa possui R$ 198.572,00 em estoque parado — produtos que não foram vendidos e ocupam espaço no inventário. Para otimizar esse estoque e liberar recursos financeiros, é crucial implementar estratégias eficazes de vendas e gestão. Algumas ações possíveis incluem:

Promoções e Descontos: Implementar promoções ou descontos específicos para esses produtos, criando um senso de urgência e incentivando os clientes a comprar itens que estão parados há mais tempo. Isso pode ajudar a movimentar rapidamente o estoque.

Combos de Produtos: Criar combos ou kits de produtos, agrupando os itens de estoque parado com os mais populares. Essa estratégia pode tornar esses produtos mais atraentes e aumentar as vendas por impulso.

Análise de Baixo Desempenho: Avaliar se esses produtos estão desatualizados ou se realmente não têm demanda. Caso necessário, considere descontinuá-los ou substituí-los por itens mais alinhados com as preferências do público-alvo.

Marketing Direcionado: Desenvolver campanhas de marketing direcionado para esses produtos, destacando suas qualidades e benefícios. Ajustar os preços ou focar na necessidade do cliente pode ajudar a gerar maior interesse.

Gestão de Estoque: Reavaliar o sistema de controle de estoque para garantir que produtos de baixa venda não fiquem acumulados por longos períodos, impedindo a sobrecarga de inventário no futuro.

Essas ações visam não apenas liberar o espaço do estoque, mas também aumentar a rotatividade dos produtos, reduzindo a quantidade de estoque parado e, consequentemente, melhorando a rentabilidade da empresa.

 #11.Quais produtos e categorias apresentam maior e menor rentabilidade, e como podemos otimizar nossas estratégias de fornecimento e precificação para maximizar os lucros?

Resumo para Resposta Final:
1. Produtos Mais Rentáveis e Menos Rentáveis:

Produtos Mais Rentáveis: Os produtos com maior margem de lucro total são Móveis e Eletrônicos, que apresentam os maiores valores de margem total no ranking. Produtos como Cadeira Ergonômica e Mesa de Escritório lideram as categorias, com altas margens tanto unitárias quanto totais.

Produtos Menos Rentáveis: Papelaria, Livros e Ferramentas apresentam margens de lucro menores, com destaque para a Papelaria, que tem uma margem total muito baixa, indicando que esses produtos não estão contribuindo significativamente para o lucro da empresa.

2. Análise de Estoque Parado:

O estoque parado representa R$ 198.572,00 em produtos que não foram vendidos. Isso inclui itens como Mouse Gamer, Impressora Multifuncional e Webcam Full HD, com grandes quantidades e valores elevados. Esses produtos estão encalhados e não estão gerando receita.

Estratégias para otimizar o estoque parado:

Promoções e descontos para acelerar a venda desses itens.

Combos de produtos ou kits com itens populares para aumentar a atratividade.

Campanhas de marketing direcionado destacando as qualidades desses produtos.

Avaliação de descontinuação para itens com baixa demanda.

3. Otimização de Estratégias de Fornecimento e Precificação:

Para os produtos que reduziram em estoque (vendas superiores ao estoque inicial), como Mesa de Escritório e HD Externo 1TB, estratégias como ajustes de fornecimento e preço dinâmico devem ser aplicadas. Isso inclui:

Reforçar o fornecimento dos produtos de maior demanda.

Ajustar preços para refletir a alta demanda e aumentar as margens.

Fidelização de fornecedores para garantir maior competitividade em relação ao estoque de produtos mais vendidos.

4. Produtos de Baixa Venda:

Produtos não vendidos devem passar por estratégias de marketing específicas, como promoções relâmpago ou melhoria de visibilidade nas campanhas. Itens com estoque negativo indicam que houve uma boa venda de produtos que já estavam no estoque anterior, o que deve ser monitorado para garantir que novos pedidos não sobrecarreguem o inventário.

Conclusão:
Para maximizar os lucros, a empresa deve focar em estratégias de precificação dinâmica, promoções para mover estoque parado, e ajustes no fornecimento de produtos de alta demanda. Além disso, é crucial avaliar produtos com baixa rentabilidade e repensar sua viabilidade no portfólio.